[2014-08-24 05:32] gubatron opened #1 "[Mac-build issue]"
Right after it builds (with clang, can't build with g++ anymore for some unknown reason)

[code]

[2014-08-24 05:35] gubatron opened #2 "[Linux-build] /usr/bin/ld: /usr/lib/debug/usr/lib/x86_64-linux-gnu/crt1.o(.debug_info): relocation 0 has invalid symbol index 11"
[code]

[2014-08-30 14:16] gubatron opened #3 "run_swig [swig-error] Error: 'new_feed' is multiply defined in the generated target language module in scope 'libtorrentJNI'."
[code]

[2014-09-01 05:06] #3 closed, assigned to nobody

[2014-10-01 03:04] #2 closed, assigned to nobody

[2014-10-01 03:04] #1 closed, assigned to nobody

[2014-10-07 17:20] bedeho opened #4 "Missing plugin interface"
It appears that the plugin interface is not present in this version of jlibtorrent?

For the swig classes, the session does not have add_extension(), and the classes
 plugin, torrent_plugin and peer_plugin are missing entirely.

This morning they were present, but the jlibtorrent_jni class did not implement all the required function calls to support the three classes.

Does jlibtorrent presently s

[2014-10-07 17:37] #4 closed, assigned to nobody

[2014-10-13 04:17] gubatron opened #5 "UnsatisfiedLinkError: com.frostwire.jlibtorrent.swig.libtorrent_jni.new_entry__SWIG_3(Native Method)"
[code]

This code causes the following exception on its first line:
`entry url_list = new entry(entry.data_type.dictionary_t);`

this would also cause it:
`entry url_list = new entry();`

[code]

I'm just trying to print an `Entry`, be it using `libtorrent.print_entry(lazy_entry le)` or by trying to obtain the bencoded value of it via `entryJavaWorldObject.bencode()`

However, I can't get past tha

[2014-10-13 14:43] #5 closed, assigned to nobody

[2014-10-14 01:43] gubatron opened #6 "dht_put_mutable_item and callbacks."
Was looking at `session_impl::dht_put_mutable_item` and in the C++ world this function takes a callback function as a parameter.

somehow that callback gets bound to a `session_impl::put_mutable_callback` (I wonder if this binding, is the same as saying that the given callback must implement the interface of the bound function...anyways)

it'd be really nice to have a similar callback mechanism in

[2014-11-03 04:14] martimarkov opened #8 "Missing torrent::request_time_critical_pieces()"
Can you tell me when you plan on adding this function?

[2014-11-08 20:06] #6 closed, assigned to nobody

[2014-12-23 14:10] Lamp-Post opened #12 "Magnet-links"
Magnet links are not working anymore, problem seems to be in: "torrent_handle th = s.getSwig().find_torrent(info_hash)" in Downloader.java

[2015-02-02 20:07] pierrewessman opened #14 "Exception in thread "main" java.lang.UnsatisfiedLinkError: no jlibtorrent in java.library.path"
Sorry for beeing a noob, but Im having issues getting "System.out.println("Using libtorrent version: " + LibTorrent.version());" run.

I have included everything in src so that all imports looks ok in Eclipse, but I have no idea how to do the build stuff, can I use the provided binaries or do I have to build something myself? It says "The result will be a libjlibtorrent.dylib", and thats provided

[2015-02-03 00:42] aldenml commented on #14
Which OS are you using? Just grab the corresponding library from https://github.com/frostwire/frostwire-jlibtorrent/tree/master/binaries and put it in the root of your eclipse project (the one you are running). Other method is set up properly the java.library.path in your eclipse project.

[2015-02-03 07:45] pierrewessman commented on #14
I am using Linux, but could try Windows also if needed.

Ok, I´ll try that. Thanks!

[2015-04-13 23:22] narrow89 opened #17 "Download Torrent on Android"
I'm trying to download a .torrent with frostwire-jlibtorrent library. I copy the sources directly in my project source folder like https://github.com/frostwire/frostwire-jlibtorrent says and I did a simple Activity to run it on a phone. I have no errors doing that but the download never starts. I used the example code from github frostwire and nothing.

I don't understand what I'm doing wrong. The

[2015-04-14 00:57] gubatron commented on #17
Hi @narrow89 hopefully we'll be able to assist you.

I have to ask one stupid question to get started:

1. Are you sure the .torrent has online seeds and that the trackers it has are up?

Suggestions to find out what's going on:
2. Try overriding more methods on your `TorrentAlertAdapter`, like
`public void stats(StatsAlert alert)`,`public void sessionStats(SessionStatsAlert alert)`, `public void

[2015-04-14 02:49] aldenml commented on #17
You need to show us some of log(cat)

[2015-04-14 03:10] narrow89 commented on #17
Hai there, I just tried with a popular new torrent file and I just had a a-ha! moment hahaha.. Thank you so much!!

[2015-04-14 03:10] #17 closed

[2015-05-17 08:30] j3g opened #18 "Android libjlibtorrent.so cross-compile ARM build instructions"
You guys rock!!!
I have jlibtorrent working wonderfully in my Android App.
And for that, I think you. (documentation was great)

I love the build scripts...so helpful.
I am attempting to build libjlibtorrent.so  (libtorrent)
Step 1: get libtorrent sources
Step 2: set all environment variables
Step 3: run_swig.sh
Step 4: build_android.sh

Is this the correct order?

Getting missing file errors.
QUE

[2015-05-17 20:13] j3g commented on #18
ok. I see from the commit statements that you have updating the build scripts to run against the latest trunk of the libtorrent source. The problem is that when I pull from a tag for 1.0.5, or download the source for 1.0.5...
i'm  missing some files when I run 'run_swig.sh':

swig/libtorrent.i:677: Error: Unable to find 'libtorrent/operations.hpp'
swig/libtorrent.i:678: Error: Unable to find 'libt

[2015-05-18 01:49] aldenml commented on #18
Hi @j3g and thank for your comments.

You should run from master (corresponding to libtorrent 1.0.4). Your only task should be run build_android.sh, since we are in charge of generating the libtorrent_jni.cpp (run_swig.sh). (You can do/run whatever you want of course). If you are working with master and libtorrent 1.0.4, you will need to replace "const static int" for "static const int" in alert_t

[2015-05-18 05:40] j3g commented on #18
I appreciate the feedback.
I'm making progress =)

I have more questions about 'build_android.sh'
What is this 'JDK_INCLUDE_2' ?

What path is this: 'LIBTORRENT_LIBS' ?

What is this? (I don't have these binary in my BOOST_ROOT)
#$BOOST_ROOT/b2 toolset=gcc-arm variant=release link=static target-os=linux --stagedir="android-arm" stage --without-context --without-coroutine --without-python --without

[2015-05-18 07:36] j3g commented on #18
Do you get this warning when you build?
libtorrent-code-1.0.4/include/libtorrent/alert_types.hpp:819:3: note: in expansion of macro 'TORRENT_DEFINE_ALERT'
   TORRENT_DEFINE_ALERT(block_timeout_alert);
   ^
libtorrent-code-1.0.4/include/libtorrent/alert_types.hpp: At global scope:
libtorrent-code-1.0.4/include/libtorrent/alert_types.hpp:126:39: warning: 'auto_ptr' is deprecated (declared at toolcha

[2015-05-18 08:06] j3g commented on #18
seeing errors like this at compile:

toolchain-platform-15-arm-gcc-4.9/bin/../sysroot/usr/lib/crtbegin_dynamic.o:crtbrand.c:function _start: error: undefined reference to 'main'

/var/folders/8f/jtv44c2d231_rbvtfy2k4cc80000gq/T//ccyTtP6O.o:libtorrent_jni.cpp:function dht_get_peers_fun(std::vector<boost::asio::ip::basic_endpoint<boost::asio::ip::tcp>, std::allocator<boost::asio::ip::basic_endpoint<

[2015-05-18 12:46] aldenml commented on #18
The painful process of native compiling.

The JDK_INCLUDE_2 path is the Java JNI include path that is platform specific.
LIBTORRENT_LIBS is where you will put all the static libraries for compiling jlibtorrent.

[code]

Read build_windows.bat for more information about BOOST_ROOT.

Once you have all of this, let's check again the errors with the android toolchain.

[2015-05-19 07:19] j3g commented on #18
do I need to cross-compile using NDK to get libtorrent.a?

[2015-05-19 12:35] aldenml commented on #18
Yes, you need to compile boost and libtorrent with android NDK. For this, don't forget to copy the build/user-config.jam file to your home.

[2015-05-27 22:30] drewtenn commented on #18
What version of SWIG are you using? I'm running 3.0.5 and I get the following error:

/libtorrent-android/jni/include/libtorrent/alert_types.hpp:58: Error: Syntax error in input(1).

Apparently SWIG doesn't like the const static (https://github.com/swig/swig/issues/241).

First time using SWIG. How are you guys getting around this?

[2015-05-27 22:32] aldenml commented on #18
Check the comments above: "you will need to replace "const static int" for "static const int" in alert_types.hpp."

In libtorrent-trunk is already changed in the libtorrent side.

[2015-05-27 22:35] drewtenn commented on #18
Bah, I missed that. Thanks.

[2015-06-03 18:14] tchoulihan opened #19 "Building for linux(ubuntu)"
The build instructions for linux are a bit unclear, and I'm having some problems.

So i downloaded libtorrent-rasterbar-1.0.5, (had to install boost as well for ubuntu which was unforeseen), ran make and make install, and it installed fine.

The run_swig.sh script didn't work in its directory, and neither did build_linux.sh.

I have no idea where the libtorrent root directories or libtorrent libra

[2015-06-03 18:21] aldenml commented on #19
Hi @tchoulihan, can you take a look at build_windows.bat? it's a lot more documented, and you can extrapolate the ideas to the linux script. Let me know if some step is not clear.

What I can tell you is that you should not need any system install besides libssl and libcrypto++. Just uncompress boost_1.58 and libtorrent (I work with libtorrent RC_1_0 branch) and point the variables $BOOST_ROOT and

[2015-06-03 18:37] tchoulihan commented on #19
There are several directory possibilities for both boost and libtorrent_root that make this difficult. What would work better, is if you could tell me what type of files the installer is looking for.

For boost, the files/folders I find are:
[code]

For libtorrent, the files/folders i find are:
[code]

[2015-06-03 18:39] aldenml commented on #19
Don't use the system installed ones, just grab the source from boost and libtorrent, and uncompress them in one working folder (inside your home).

[2015-06-03 18:40] tchoulihan commented on #19
Oh, so just use the downloaded folder locations? I'll do that and report back

[2015-06-03 18:41] gubatron commented on #19
`libtorrent_root` is meant to point to your libtorrent source folder.

[2015-06-03 18:45] gubatron commented on #19
@tchoulihan
Here are some old and detailed instructions I wrote to build on Mac
https://gist.github.com/gubatron/dc0e29b9273741c9c14c

They need to be updated to the current state of the script, but it should give you a good idea on how to build for linux.

Once you get to build it, I'd love to hear any questions you may have on how to use the API, we've been busy coding it and using it, but not s

[2015-06-03 18:56] gubatron commented on #19
I've [updated the wiki page](https://github.com/frostwire/frostwire-jlibtorrent/wiki) to include a link to the mac build instructions.

[2015-06-03 19:08] aldenml commented on #8
This method is private, so unless it becomes public, it will not exposed.

[2015-06-03 19:08] #8 closed

[2015-06-03 19:31] tchoulihan commented on #19
I installed both boost-58 and libtorrent-rasterbar7, set those 2 environment variables, and here's the errors now:
[code]

So i went into the script and changed it to look up a directory, and now I'm getting this error.
[code]

[2015-06-03 19:39] aldenml commented on #19
Run the scripts from the root of frostwire-jlibtorrent. That means: ./build/build_linux.sh

Don't run run_swig.sh unless you are fully familiarized with the swig process. You have all the generated source code already.

[2015-06-03 20:04] tchoulihan commented on #19
I'm not sure if the source code from swig is correct. Here's the error I'm getting:
[code]

I also added the jni.h file to the gcc using:
[code]

And the same error still comes up.

[2015-06-03 20:08] aldenml commented on #19
build_linux.sh has hardcoded the jvm 8 include paths for openjdk, you are using oracle, you can either change the paths in the script or install the openjdk one.

[2015-06-03 20:20] tchoulihan commented on #19
Thanks, I repointed those two include lines to my java install, and now I'm getting some weird errors with swig:
[code]

My swig version is 2.0.11 . Should I try swig3?

[2015-06-03 20:22] aldenml commented on #19
Did you run run_swig.sh? Revert the changes related to that (I recommend you a clean start).

[2015-06-03 20:23] tchoulihan commented on #19
That's never worked for me, I just get this error:
[code]

[2015-06-03 20:24] aldenml commented on #19
Yes, but in the process, you probably messed up the repo. git status and you will see.

[2015-06-03 20:24] tchoulihan commented on #19
Hrm, for some reason almost all the swig.java files got deleted, I'll clone this again.

[2015-06-03 20:25] aldenml commented on #19
And don't run run_swig.sh

[2015-06-03 20:29] tchoulihan commented on #19
Okay, I just did a fresh clone, changed the java source folders, didn't run the run_swig.sh, but am still getting a ton of errors related to that std_auto_ptr.i file:
[code]

[2015-06-03 20:29] aldenml commented on #19
These are warnings, what's at the end?

[2015-06-03 20:31] tchoulihan commented on #19
[code]

[2015-06-03 20:33] aldenml commented on #19
Did you export LIBTORRENT_LIBS?

[2015-06-03 20:34] tchoulihan commented on #19
I didn't, I just have:
[code]
where should that point to?

[2015-06-03 20:36] tchoulihan commented on #19
If you told me the name of one of the .a files, I could try to locate it.

[2015-06-03 20:36] aldenml commented on #19
You need to actually compile boost, libtorrent and all the resulting libraries, put them in a folder (LIBTORRENT_LIBS), I think that's documented in the link @gubatron mentioned.

[2015-06-03 21:02] gubatron commented on #19
`LIBTORRENT_LIBS` is simply a folder where all the dependency libraries should be available for the linker. It must contain the libtorrent.a file along with all the other boost libraries needed.

[2015-06-03 21:02] gubatron commented on #19
looks like you're finally building it all, it just can't link.

[2015-06-03 21:02] tchoulihan commented on #19
I'm building a script to automate most of this BTW, saving everything as I go.
I installed boost with this, and it didn't run into any problems:
[code]

Now the problem I'm running into is from this line script that builds the libtorrent.a file...
[code]

Here's the output:
[code]

[2015-06-03 21:04] gubatron commented on #19
where did you get libtorrent, if you're having issues building libtorrent it could be that you're running from the trunk maybe?

[2015-06-03 21:04] gubatron commented on #19
`LDFLAGS =`
this also calls my attention, I believe there should be some link flags there, no @aldenml ?

[2015-06-03 21:05] tchoulihan commented on #19
From here: http://sourceforge.net/projects/libtorrent/files/libtorrent/libtorrent-rasterbar-1.0.5.tar.gz/download

[2015-06-03 21:08] gubatron commented on #19
checking my environment, I have this set for `$LDFLAGS`

`-L/Users/gubatron/src/boost_1_57_0/stage/lib`

try adding that to your environment, changing to the corresponding path.

[2015-06-03 21:08] aldenml commented on #19
@gubatron No. It's pretty clear for me that he is having a very typical boost conflict:
[code]
@tchoulihan try to avoid the system installed boost (remove it if you can).

[2015-06-03 21:09] tchoulihan commented on #19
will do

[2015-06-03 21:10] gubatron commented on #19
oh I see. What has worked best for me @tchoulihan (on Mac) has been simply downloading a binary boost release and pointing paths to their includes/ and linking to their libraries.

me so
![wanna-eat-](https://cloud.githubusercontent.com/assets/163977/7971512/321a81b0-0a13-11e5-9d8a-acd4c5b01477.gif)
you to build this!

[2015-06-03 21:11] aldenml commented on #19
@gubatron Are you sure?

[2015-06-03 21:12] gubatron commented on #19
it's becoming personal, I feel his pain, been there (for all OSes) before.

[2015-06-03 21:31] tchoulihan commented on #19
Dann @aldenml you've been crushing it.

Okay, so now I have all those .a files including libtorrent.a in the $LIBTORRENT_LIBS dir, but I'm still getting this error when running ./build/build_linux.sh:
[code]

[2015-06-03 21:46] aldenml commented on #19
I need to see the error during the compilation, try to look for it inside the entire output. (copy and grep).

[2015-06-03 21:48] tchoulihan commented on #19
grepping for error in the output:
[code]

[2015-06-03 21:51] aldenml commented on #19
Ok, the problem is that libtorrent-1.0.5 is a little bit outdated. I'm working with the latest stable branch RC_1_0. Instead of downloading the tar.gz, perform this:
[code]
and adjust the paths

[2015-06-03 22:27] tchoulihan commented on #19
okay, will do

[2015-06-03 22:47] tchoulihan commented on #19
Here's the error I have now:
[code]

Which is weird because I compiled boost with that -fPIC flag, like this:
[code]

[2015-06-03 23:16] aldenml commented on #19
Did you run b2 twice ? If that's the case, try again deleting the bin and linux folders,just to discard any previously generated object file

[2015-06-04 01:07] tchoulihan commented on #19
Just tried this, same error as before.

the error says this: `recompile with -fPIC`

[2015-06-04 12:28] aldenml commented on #19
I know it could be a little rough. I would like to make sure you are right with the boost compilation, do this:
[code]
Let me know

[2015-06-04 13:37] tchoulihan commented on #19
@aldenml That did it! I wonder why...

Okay, so I have a working linux pre-install script. I'll post it here. I can either submit a pull request, and add this to the beginning of the build_linux.sh script, or I can leave it to your discretion on how to do this. Its fully automated, including downloading the necessary dependencies.

[code]

[2015-06-04 13:43] aldenml commented on #19
I rather let @gubatron to take a look at this.

[2015-06-04 13:43] gubatron commented on #19
something like this could be part of a `./configure.sh` is what I was thinking yesterday.

[2015-06-04 13:53] gubatron commented on #19
would just make it so that all paths and version numbers are configurable variables at the beginning of the script.

So things like this:

[code]

[2015-06-04 13:53] gubatron commented on #19
@tchoulihan If you submit a very well parametrized script to `build/configure.linux.sh` I'll review it and work with you to include it.

[2015-06-04 14:06] tchoulihan commented on #19
@gubatron Certainly, I can do this. I agree with the parameterization also. I'll create a pull request and reference this issue soon.

[2015-06-04 14:12] gubatron commented on #19
![thanks](https://cloud.githubusercontent.com/assets/163977/7985898/227b7568-0aa2-11e5-992f-027ae03147ad.gif)

[2015-06-04 17:04] tchoulihan opened #25 "DHT and PEX features enabled by default?"
Hey, so I'm using the frontpage example, or here: https://github.com/frostwire/frostwire-jlibtorrent/blob/a367e8f845f501c533ceaf33cf44ebea814198d0/src/com/frostwire/jlibtorrent/demo/DownloadTorrent.java

Are the DHT and PEX features are enabled by default? Am I getting all the peers I should be?

Does anyone know of a more complicated downloader example that has these features?

[2015-06-04 17:39] aldenml commented on #25
We enable the default plugins (including DHT and PEX), so you are getting all the peers and info hashes you need. If you want to look for a more complicate use of this API, take a look at https://github.com/frostwire/frostwire-common/blob/master/core/com/frostwire/bittorrent/BTEngine.java

[2015-06-04 17:39] #25 closed

[2015-06-04 17:41] tchoulihan commented on #25
That's pretty much what I needed, thanks @aldenml .l

[2015-06-05 01:14] tchoulihan opened #27 "How to save a torrent file?"
I can't for the life of me figure out how to save a torrent file with jlibtorrent.

I've looked at the two examples CreateTorrentTest, and CreateTorrentTest2.java, and they both seem to create `com.frostwire.jlibtorrent.swig.entry`, but I have no idea how to write this to an output stream.

I also see `entry.bencode() [char_vector]`, but wouldn't know how to write a char_vector using java like thi

[2015-06-05 01:21] gubatron commented on #27
We do it like this, here's a snippet of FrostWire-desktop:

[code]

[2015-06-05 01:21] #27 closed

[2015-06-05 01:23] tchoulihan commented on #27
Dang that was fast! Thanks sir.
On Jun 4, 2015 9:21 PM, "Angel Leon" <notifications@github.com> wrote:

[2015-06-05 01:24] gubatron commented on #27
basically you need to bencode the torrent's entry and write that to a file.

[2015-06-05 15:35] #19 closed

[2015-06-10 19:39] gubatron opened #28 "Make frostwire-jlibtorrent available on Maven."
If anybody watching has already gone through this process any help/tips would be appreciated to get the library up there as soon as possible.

[2015-06-10 19:40] gubatron commented on #28
First lead:
http://blog.blundell-apps.com/locally-release-an-android-library-for-jcenter-or-maven-central-inclusion/

[2015-06-10 19:41] gubatron commented on #28
http://maven.apache.org/guides/mini/guide-central-repository-upload.html

[2015-06-10 19:50] aldenml commented on #28
More info for sonatype: http://central.sonatype.org/pages/ossrh-guide.html

[2015-06-11 13:14] tchoulihan commented on #28
I can help here, gone through this process fully, want me to post some things you need for the pom and dependencies?

For this libraries use in my project, I just had to copy the folder unfortunately, but also would've preferred it to be mavenized.

[2015-06-11 13:15] aldenml commented on #28
Did you use gradle?

[2015-06-11 13:16] tchoulihan commented on #28
No, I just use straight maven.

[2015-06-11 13:17] aldenml commented on #28
Ok, we want to use gradle, but the process should be similar. Post as much as you can, we will appreciate it.

[2015-06-11 13:29] tchoulihan commented on #28
Sure.
Main instructions are [here](http://central.sonatype.org/pages/ossrh-guide.html) but basically:

1) First create a login here, http://oss.sonatype.org/,  and a ticket to open up your package domain on sonatype

2) Add your sonatype login to your .m2/settings.xml
Looking in mine, I have:
[code]

3) You might also have to generate a gpg keyring, but I forget if I did this just in case, or if i

[2015-06-17 19:44] Jichao opened #29 "where is the gradle script?"
In the readme,
[code]
But I could not find the gradle script.

[2015-06-17 19:50] aldenml commented on #29
Unfortunately not, at some point there was a script but was removed a long time ago. We have plans to put this in maven.

[2015-06-18 09:38] Jichao commented on #29
I need to write the gradle script by myself or find it in the git history to build the jar file since there is no binary release?

[2015-06-18 13:44] aldenml commented on #29
You can look in the history, but I rather recommend you write a simple gradle script from scratch.

[2015-06-18 19:49] Jichao commented on #29
Thanks for your reply, i have managed to create the jar file, and all works fine on android/mac ox yosemite.
[code]
Steps to generate this file
`git checkout $(git rev-list -n 1 HEAD -- build/build.gradle)^ -- build/build.gradle`
modify the path from `java/src` to `../src`

[2015-06-18 19:51] aldenml commented on #29
Thank you, I probably take this as a starting point.

[2015-06-19 04:48] #29 closed

[2015-06-21 18:28] tchoulihan opened #30 "Need to set the auto_manage_interval for session_settings"
I need to be able to set the automanage interval, shown here, but I don't see a method for it in SessionSettings.

http://www.libtorrent.org/reference-Settings.html#session_settings

[2015-06-22 19:23] gubatron commented on #30
We've not directly exposed everything on the higher level Java API. However, you can always use [`.getSwig()`](https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/com/frostwire/jlibtorrent/SessionSettings.java#L24) on the `SessionSettings` object, and you should be able to access the:

`[setAuto_manage_interval(int value)](https://github.com/frostwire/frostwire-jlibtorrent/blob/mast

[2015-06-22 19:27] aldenml commented on #30
This has changed substantially in libtorrent master (now using settings_pack) but we will maintain this stub for a while. I will put this flag (unless you want to send an easy PR).

[2015-06-22 19:28] gubatron commented on #30
settings_pack stuff hasn't been merged to our master?

[2015-06-22 19:29] aldenml commented on #30
No, it is in our libtorrent-trunk branch until libtorrent(master) becomes the stable one.

[2015-06-22 19:34] gubatron commented on #30
i guess that means for now the `.getSwigh().setAuto_manage_inteval(int)` should work then.
I'd add that flag after libtorrent-trunk changes become effective, if it's even necessary as I understand things will work differently then.

[2015-06-22 19:35] aldenml commented on #30
Sure

[2015-06-22 21:09] tchoulihan commented on #30
Found it, thanks guys. I'll close this out.

[2015-06-22 21:09] #30 closed

[2015-06-26 20:15] tchoulihan opened #31 "Strange QueuedThreadPool exception, UnknownError: Success"
I occasionally get a strange exception when I run:
[code]

What could be causing it?
[code]

[2015-06-26 20:35] aldenml commented on #31
Is this error with one particular torrent file? We don't use that method but in a very critical point, our software update process (CC @gubatron).

Can you create some sort of replication scenario?

[2015-06-26 21:50] tchoulihan commented on #31
No, its happening to a lot of torrents, as I add them. Let me try to think of a way to replicate it.

[2015-06-27 02:43] gubatron commented on #31
think it might be one of those errors caused by early GC?

[2015-06-27 02:45] aldenml commented on #31
Yes, but I need to research more about it.

[2015-06-27 13:25] tchoulihan commented on #31
It looks like this is the same issue:
https://github.com/frostwire/frostwire-android/issues/221

[2015-06-27 14:04] aldenml commented on #31
Are you using an up to date copy of our source code?

[2015-06-27 15:21] gubatron commented on #31
OT: Does the search on torrenttunes work?
Last night I built the server and the client, but search wasn't working for me.

[2015-06-28 00:56] #14 closed

[2015-07-02 21:11] tchoulihan commented on #31
@aldenml , I'm pretty sure so, new as of maybe 3 weeks ago.

@gubatron Sorry about that, this is still in alpha version.

[2015-07-02 21:11] #31 closed

[2015-07-02 21:13] aldenml commented on #31
@tchoulihan Did you close it for any particular reason?

[2015-07-02 21:24] tchoulihan commented on #31
I stopped getting the error for some reason. Maybe I did something to free
up more threads, but I stopped getting it.
On Jul 2, 2015 5:13 PM, "Alden Torres" <notifications@github.com> wrote:

[2015-07-28 14:01] #18 closed

[2015-08-02 20:22] tchoulihan opened #32 "session.AddTorrent flags"
Based on arvid's recommendations, I need to set `seed_mode=true` on a torrent added to the session.

I see the addTorrentParams method, but wouldn't it be better to use it like so?
[code]

If not, could you give me an example of how to set those parameters while adding a torrent with swig?

[2015-08-02 20:24] tchoulihan opened #33 "Add libtorrent benchmarking to jlibtorrent"
Would it be possible to add libtorrent's session benchmarking logs as shown [here](http://www.libtorrent.org/tuning.html#benchmarking) ? It would really help to diagnose any problems with jlibtorrent in general.

[2015-08-02 20:31] tchoulihan opened #34 "MillionTorrentTester"
@aldenml I've worked up the torrent tester example. I'm not sure a pull request would be the best way to give it to you, so I'll just put the code for the class here.

I'd highly suggest also adding the createAndSaveTorrent(or portions of it) into jlibtorrent, because its very useful.

Apologies in advance for the verbose amount of listeners, but IMO its better than the tick.
[code]

[2015-08-02 21:14] aldenml commented on #34
Hi @tchoulihan, I will take a look at this issue, it is something that is affecting our bittorrent client (FrostWire) with just a thousand torrents. I saw the other issues too.

First, I need to ask you if you are willing to use our master branch. It's up to date with libtorrent master and  we are currently in the process of publishing in maven central. The branch you are using is pretty much froz

[2015-08-03 00:10] tchoulihan commented on #34
@aldenml Okay, just pulled into a local branch of mine, and am using the newest one by just copying the folder and necessary binaries(Of course maven will be really nice once you guys get there).

I'm finding a lot of issues when updating. A bunch of methods for Session and SessionSettings are missing.

Using SettingsPack instead of SessionSettings, I'm missing the newDefaults(). I supposed just i

[2015-08-03 00:13] aldenml commented on #34
Thank you for your suggestion. Now I' working in a way to enable the TORRENT_DISK_STATS in the build but at the same time be able to disable at runtime.

[2015-08-03 00:14] tchoulihan commented on #34
@aldenml

No problem, thanks!

[2015-08-03 00:32] aldenml commented on #34
@tchoulihan It's your repo (with the branch) public?

[2015-08-03 00:36] tchoulihan commented on #34
Also, I'm getting this error when using the linux binary:
[code]
I did copy the new binaries over too.

What do you mean? I pulled frostwire-jlibtorrent/master into a local branch that I haven't committed to public yet. Why don't you just create feature or development branches, then I can submit pull request changes to those if necessary, and the collaboration can happen on your repos.

[2015-08-03 00:41] aldenml commented on #34
Ok, here it is: https://github.com/frostwire/frostwire-jlibtorrent/tree/million-torrents

Let's see how it goes.

[2015-08-03 00:49] aldenml commented on #34
Are you developing in Linux? Are you able to run build-linux.sh (inside the swig folder)?

[2015-08-03 00:50] tchoulihan commented on #34
@aldenml sorry about the binary error, I fixed it, see above.

[2015-08-03 01:30] tchoulihan commented on #34
Okay I just issued a pull request: https://github.com/frostwire/frostwire-jlibtorrent/pull/35

[2015-08-03 12:17] aldenml commented on #28
Just an update that we have some progress https://issues.sonatype.org/browse/OSSRH-16814

[2015-08-03 12:20] aldenml commented on #33
Just to let you know that I'm waiting for this: https://github.com/arvidn/libtorrent/pull/65

However, the doc you linked is obsolete and probably the tools (in python) too.

[2015-08-03 12:27] aldenml commented on #32
Take a look at https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java#L846

Create one for you (getSwig() is public) and add:
``` flags &= ~add_torrent_params.flags_t.flag_auto_managed.swigValue();```

I don't like a set of a java enum, but I will research how to improve the API in the java layer. We left getSwig() to allow for all sort

[2015-08-03 12:27] #32 closed

[2015-08-03 15:57] tchoulihan commented on #32
Thanks, this helps a lot.

[2015-08-04 05:32] aldenml commented on #33
Ok, now libtorrent is compiled with `<disk-stats>on` and to effectively enable it you need to do like https://github.com/frostwire/frostwire-jlibtorrent/blob/million-torrents/src/main/java/com/frostwire/jlibtorrent/demo/DownloadTorrent.java#L22

If you want to test, you will need to compile the linux binary yourself until I solve the maven publishing issue.

[2015-08-04 05:32] #33 closed

[2015-08-04 13:02] tchoulihan commented on #33
Thanks! I'm out for a few days, but will compile and test this as soon as I get back.

[2015-08-04 13:07] tchoulihan commented on #28
Sounds good. Let me know if you need any help along the way.

[2015-08-04 14:33] aldenml commented on #28
Done http://repo1.maven.org/maven2/com/frostwire/jlibtorrent/

[2015-08-04 14:33] #28 closed

[2015-08-04 14:58] gubatron commented on #32
@tchoulihan
TIP: if you ever need to pass the getSwig() reference to another object, try passing a copy of it instead. It happens that the GC may leave you with an invalid reference which often leads to a crash.

[2015-08-05 14:19] gubatron commented on #34
@tchoulihan

To stop LSD, you basically have to change the setting, stop the libtorrent core, and start it again.

To stop DHT [this is how you can do it already](https://github.com/frostwire/frostwire-desktop/blob/master/src/com/limegroup/gnutella/gui/options/panes/TorrentConnectionPaneItem.java#L130).

[2015-08-05 14:19] #34 closed

[2015-08-07 09:36] sv244 opened #37 "SIGSEGV on Android"
So I tried to replace my previous version of jlibtorrent binaries and library code by the maven repositories in Gradle.

Can something be wrong with the binaries? The previous version worked perfectly and this is what's happening now:

`08-07 11:21:44.092  29229-29412/pct.droid.dev A/libc﹕ Fatal signal 11 (SIGSEGV), code 1, fault addr 0xe02fa40 in tid 29412 (Session-alertsL)`

I first thought that

[2015-08-07 11:37] sv244 commented on #37
Ok, solved. I needed to update my AlertListener. Now the part where TorrentInfo is null.

[2015-08-07 13:23] sv244 commented on #37
That didn't seem to be the whole problem. I'm still getting the error, but I updated all my code.

`08-07 15:22:23.845    2398-2567/pct.droid.dev A/libc﹕ Fatal signal 11 (SIGSEGV), code 1, fault addr 0xcaae3e20 in tid 2567 (Session-alertsL)`

And I have no idea where to search.

[2015-08-07 13:43] aldenml commented on #37
Can you paste a longer log output? I need to see more about the stack trace.

[2015-08-07 14:10] sv244 commented on #37
[code]

This is all I get.

[2015-08-07 14:12] aldenml commented on #37
With version of jlibtorrent are you working with?

[2015-08-07 14:13] sv244 commented on #37
1.1.0.2

[2015-08-07 14:16] aldenml commented on #37
Yesterday I found another null pointer error, it's already mergex (https://github.com/arvidn/libtorrent/pull/72). In a few hours I will release another version, maybe this fix your issue. If not, I will need more info from you. Let's see.

[2015-08-07 14:17] sv244 commented on #37
Hopefully! Thanks.

[2015-08-07 16:58] tchoulihan commented on #34
@gubatron I assume this will stop the DHT then:
[code]

Thanks sir.

[2015-08-07 16:59] tchoulihan commented on #32
I'll keep this in mind.

[2015-08-07 17:10] tchoulihan commented on #28
Great! Its working so far! I was going to suggest adding the maven xml/gradle to the front page, but you guys are on the ball with it already.

[2015-08-07 19:17] aldenml commented on #37
@sv244 I released version 1.1.0.3, let me know if you are still getting the error.

[2015-08-07 19:24] sv244 commented on #37
:+1:

[2015-08-07 19:25] gubatron commented on #37
sweet

[2015-08-07 19:25] sv244 commented on #37
That I'm going to try it doesn't mean it is solved.

[2015-08-07 19:26] gubatron commented on #37
gotcha

[2015-08-07 19:35] sv244 commented on #37
Nope.

`08-07 21:31:16.342  21220-21246/pct.droid.torrentstreamer.sample A/libc﹕ Fatal signal 11 (SIGSEGV), code 1, fault addr 0x5e76f142 in tid 21246 (Session-alertsL)`

[2015-08-07 19:36] gubatron commented on #37
dang

[2015-08-07 19:36] sv244 commented on #37
I'll push my code to a repo.

[2015-08-07 19:37] gubatron commented on #37
:+1:

[2015-08-07 19:57] sv244 commented on #37
https://github.com/sv244/TorrentStream-Android

[2015-08-07 19:58] gubatron commented on #37
link(s) to file(s)?

[2015-08-07 19:59] sv244 commented on #37
Anything within https://github.com/sv244/TorrentStream-Android/tree/develop/library/src/main/java/pct/droid/torrentstream

[2015-08-07 20:13] tchoulihan opened #38 "Ability to instantiate jlibtorrent using a custom binary/library path."
Its much much easier, instead of trying to fiddle around with the java.library.path, to use the following code in libtorrent_jni.java to load the correct jlibtorrent binary. In other words, setting the binary path explicitly in code as opposed to using command line params.

For example, my program works for mac, linux, and windows, simply by returning the correct binary:
[code]

And you guys could

[2015-08-07 20:32] tchoulihan commented on #38
Also, I've noticed that the build/ folder is gone with these. Could you perhaps provide the binaries in the build folder like you did before, or provide them as part of each new release? I know it stinks that you can't (or at least I don't know how) to bundle them with maven.

[2015-08-07 20:51] tchoulihan opened #39 "build/ folder and binaries are missing"
I've noticed the build folder is gone, and also, none of the build shell scripts in the swig/ folder work. So I'm unable to get libtorrent 1.1.0.1-3 working.

[2015-08-07 22:56] aldenml commented on #39
Now there is an artifact for each architecture, for example, for windows there is jlibtorrent-windows. The only file inside this jar is the binary for windows. For now, you need to grab the one you want. We added the binaries to the repo just for convenience at the beginning.

I will close the issue. Let's open other issue just for the build script issue you are having.

[2015-08-07 22:56] #39 closed

[2015-08-07 22:57] aldenml commented on #37
Ok, no promise on timing, I will take a close look.

[2015-08-07 22:59] aldenml commented on #38
I will think about how to provide more flexibility for loading the native library, no a big fan of LibTorrent.setup.

[2015-08-07 23:19] sv244 commented on #37
No worries. That you will is good enough for me.

[2015-08-07 23:24] tchoulihan commented on #39
Where can I find these artifacts?

[2015-08-07 23:30] aldenml commented on #39
http://search.maven.org/#search%7Cga%7C1%7Cjlibtorrent

[2015-08-07 23:30] tchoulihan commented on #39
I tried using just jlibtorrent-linux, but none of the imports seemed to work. Then I tried adding both, and I'm still getting an UnsatisfiedLinkError.

[2015-08-07 23:40] tchoulihan commented on #39
I'm using a shaded/fat jar, so I find that it does come packaged in a target directory: lib/x86_64/libjlibtorrent.so .

But I have no way to load that file in code or otherwise.

[2015-08-07 23:53] aldenml commented on #39
I didn't fully explain myself. You to unzip the jar, get the binary and put in the place you defined.

[2015-08-07 23:54] tchoulihan commented on #39
Where should I place the binary so that jlibtorrent will find it. In the root directory of the project?

[2015-08-08 00:06] aldenml commented on #39
In the root or a path defined by java.library.path (startup working directory is the default).

[2015-08-08 00:16] tchoulihan commented on #39
Whew, finally figured it out, thanks @aldenml  . I had to find out what my java.library.path was first:
[code]
, then copy the resource there. I'll stop commenting here, and just request for the other thread that I can somehow have the ability to load custom binary paths in code(so I can keep on using a self-contained jar that runs on multiple platforms.)

[2015-08-08 00:17] aldenml commented on #39
Good to know!

[2015-08-08 00:17] sv244 commented on #37
I also noticed that TorrentInfo is null most of the times.

[2015-08-08 02:46] aldenml commented on #37
Ok @sv244 , in this line https://github.com/sv244/TorrentStream-Android/blob/develop/library/src/main/java/pct/droid/torrentstream/TorrentStream.java#L372

you are getting a reference to a torrent handle from an alert. This references are short lived inside libtorrent, then the "Fatal signal 11". Use the following instead:
[code]

Now, when do you not get the NPE (I will write about it after this)

[2015-08-08 12:53] sv244 commented on #37
You're a hero! It completely works now.

[2015-08-08 12:53] #37 closed

[2015-08-08 14:33] tchoulihan commented on #33
Hey @aldenml , I'd like to start testing with disk stats on, let me know the best way to do this. If I need to compile my own binary, which build-linux.sh script I should use(The ones in the swig/ folder don't work).

[2015-08-08 20:13] aldenml commented on #33
Hi @tchoulihan, the good thing about the new binary is that it's already compiled with that flag, just call `default_storage.disk_write_access_log(true);` at the beginning and `default_storage.disk_write_access_log(false);` at the end. See https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/demo/DownloadTorrent.java#L22

After that, you should end

[2015-08-09 13:31] tchoulihan commented on #33
Hey @aldenml, should I take this up with arvid? I'm trying to run the parse_disk_log.py on the file, and its not working. Is that the right test? I just guessed that that python file is the right one, but there are other python tests there, but none of them apparently process a file_access.log file.

[code]

[2015-08-09 14:33] aldenml commented on #33
Yes, you should solve that with @arvid. I don't know anything about it to help you.

[2015-08-09 15:00] tchoulihan commented on #33
Gotcha.

[2015-08-09 18:17] tchoulihan commented on #38
Any ideas for this? The name doesn't matter to me, it could be, `loadCustomBinary`, `loadCustomLibrary`, `loadBinary`, `loadLibrary`, anything really.

The code would just be:
[code]

[2015-08-09 18:30] aldenml commented on #38
I think you can do it yourself before any code related to jlibtorrent. I mean, you can do your custom load library, as long as it's before the one in jlibtorrent. Did you tried that?

[2015-08-09 18:34] tchoulihan commented on #38
I thought I tried that, but let me double check.

[2015-08-09 18:54] tchoulihan commented on #38
@aldenml Ah okay, so here's the issue. I tried loading the library in multiple places before jlibtorrent is ever imported, but it doesn't seem to make a difference. The error below shows that [this line](https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/swig/libtorrent_jni.java#L15) in libtorrent_jni is the issue.

Basically, it still tries to l

[2015-08-09 18:59] aldenml commented on #38
OK, I will check this. I was under the impression that the JVM should avoid the double loading. In the meantime, are you stopped by this issue? or are you able to grab the sources code and continue?

[2015-08-09 19:02] tchoulihan commented on #38
No I'm not stopped by the issue, whenever you can get around to it works.

I've got a workaround, its just not ideal and isn't multi-platform.

[2015-08-09 19:55] tchoulihan opened #40 "Add SESSION_STATS to jlibtorrent"
@arvidn is asking me for session stats instead ...

From here : https://github.com/arvidn/libtorrent/issues/63#issuecomment-129225232

[2015-08-09 21:27] aldenml commented on #40
This flag is already on, see https://github.com/frostwire/frostwire-jlibtorrent/blob/master/swig/Jamfile#L63. and `SessionStatsAlert`.

[2015-08-09 21:32] aldenml commented on #40
Ignore my previous comment, it seems that arvidn was mentioning statistics for the RC_1X branch. Ok, see SessionStatsAlert and let me know if you still don't have the required values. See also https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java#L917

[2015-08-09 21:50] arvidn commented on #40
ah, yes. Right. I'm sorry if I haven't been very clear, I keep forgetting that this changed in from 1.0.x to master. It looks like you're building against master now the, right? (because the session_stats_alert is new).

It looks like you know how to use this API already. This is what I would suggest:

Have some stats logging mode, where you dump every value in the session stats alert to a file. I

[2015-08-09 22:03] tchoulihan commented on #40
@aldenml I found a session stats alert that I can use as a torrentAlertAdapter like so
[code]

Should grepping for these lines be enough? Also, these alerts are torrent-based, not session-based, if I'm reading that right.

[2015-08-09 22:05] arvidn commented on #40
libtorrent only keep counters per session, and only post session_stats_alert per session (not per torrent). I would imagine this alert would be called for all torrent alert adapters..

[2015-08-09 22:23] aldenml commented on #40
@tchoulihan I think that should be a mistake on my side. Since `SessionStatsAlert` is not a `TorrentAlert` this method will never be called. See https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/TorrentAlertAdapter.java#L33, I will fix that. Just add an AlertListener to listen for this  `SessionStatsAlert`.

[2015-08-09 22:37] tchoulihan commented on #40
@aldenml just to verify, does this look like the right code? I'm not sure how to do session-only alerts:
[code]

[2015-08-09 23:25] aldenml commented on #40
[code]

[2015-08-09 23:37] tchoulihan commented on #40
Gotcha, thanks a bunch.

[2015-08-09 23:43] tchoulihan commented on #40
All that does is create output lines like this:
`DEBUG c.t.client.LibtorrentEngine - SESSION_STATS - session_stats_alert - session stats (2344 values)`

But doesn't write any output files.

[2015-08-09 23:55] aldenml commented on #40
All the info is in the alert, use this as a guide: https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java#L1016

[2015-08-09 23:56] arvidn commented on #40
the session stats alert has an array of int64 values. Each value has a name. The mapping between name and index into this array is defined by the return value of session_stats_metric(). All these numbers need to be logged to a file, with a correctly named column header indicating the name of the value (as defined by the return value of session_stats_metrics()). Anything that doesn't have a for loo

[2015-08-10 00:08] tchoulihan commented on #40
Okay, so from what I can gather, I have to :
1) Get the number of session_stat values(presumably from the alert.message?)
2) loop over them and append them to a file with column headers

What should the format look like, @arvidn ?

So something like:
[code]

[2015-08-10 00:14] arvidn commented on #40
@tchoulihan https://github.com/frostwire/frostwire-jlibtorrent/issues/40#issuecomment-129248172

[2015-08-10 00:22] tchoulihan commented on #40
@arvidn , just to verify, use `\t` as a delimiter , and `\n` (or standard println) as newlines?

I think I may have found the column names too, using `StatsMetric[] com.frostwire.jlibtorrent.LibTorrent.sessionStatsMetrics()` .

@aldenml , as long as this array is in order, IE, that `sessionStatsMetrics()[0]` aligns up with `((SessionStatsAlert) alert).value(0)`, then I can get started.

[2015-08-10 01:25] aldenml commented on #40
They are aligned, but if you want also see `LibTorrent.findMetricIdx` if you want more checks.

[2015-08-10 01:29] aldenml commented on #40
@tchoulihan I will close this issue since I don't see one.

[2015-08-10 01:29] #40 closed

[2015-08-10 01:54] arvidn commented on #40
The name -> counter-index mapping returned by session_stats_metrics() is not ordered. Each item in the returned vector has a name and index. See: https://github.com/arvidn/libtorrent/blob/b5a477d7fd193348d1e30f20f9958bea2b012261/include/libtorrent/session_stats.hpp#L45

It's done this way to be able to insert more counters (next to associated counters) without breaking ABI.

[2015-08-10 01:59] aldenml commented on #38
Now you can specify the path and it will take precedence over the java.library.path, see https://github.com/frostwire/frostwire-jlibtorrent/commit/5fe9c62ff86ed16ef1f1935348528a3b7a6661bd

But it's up to the library caller figure out how to manage these binaries per platform.

[2015-08-10 01:59] #38 closed

[2015-08-10 02:46] tchoulihan commented on #40
@arvidn I think I gotcha, I see a `name`, `type`, and `value_index`, and some static `type_counter` and `type_gauge` fields on StatsMetric. Judging by your comments, I'll use the `value_index` field for the correct position.

[2015-08-10 03:27] arvidn commented on #40
right. the type is not really relevant for this logging. It just indicates how to interpret the value (whether it's monotonically increasing counter or a snapshot state)

[2015-08-10 14:29] tchoulihan commented on #38
Cool, looks great! I'll test this out today.

[2015-08-10 18:50] tchoulihan commented on #40
@arvidn Okay, so I've been running `parse_session_stats.py` on a session stats log file I've created, and its been taking about 10 minutes so far for a 136 kb file, with no logging messages.

`python parse_session_stats.py session_stats.out`

[2015-08-11 00:20] tchoulihan opened #41 "How to set custom swig settings in a SettingsPack correctly?"
Here's how I'm currently doing it, and I have no idea if its working or not:

[code]

[2015-08-11 00:30] aldenml commented on #41
Yes, that's correct.

[2015-08-11 00:30] #41 closed

[2015-08-11 00:31] gubatron commented on #41
you can always verify using the `.getXXX` methods.

TIP: Open the `frostwire-desktop` project, and when you have doubts on how to use things, look for ocurrences of that class/method in the `frostwire-desktop` project.

[2015-08-11 00:33] gubatron commented on #41
#TODO: Gather all these questions and start a list of **jlibtorrent recipes** on the wiki of this repository.

Other people will probably find them very useful, and once we have enough we could even have an introductory manual. At the moment, probably not worth it as the API is still changing rapidly.

[2015-08-11 00:33] gubatron commented on #41
Better yet.

These "recipes" should simply be in the documentation of the class.

That way you just look at the javadoc and that's it. I love javadocs that include examples, they're the best.

[2015-08-11 00:44] gubatron commented on #41
Stuff like this should go a long way
https://github.com/frostwire/frostwire-jlibtorrent/commit/55ea6ce8ec27044b1075119574c13adef5449475

cc: @tchoulihan

[2015-08-11 00:45] tchoulihan commented on #41
Thanks guys. I like you guys' demo folders, as those are my favorite ways to learn and see usage. @gubatron That works great too!

[2015-08-11 03:10] arvidn commented on #40
There are two issues. (1) The first line should use ':' as column separators. (2) it turns out the script expects the left-most column to be a second time-stamp and have a header name "seconds".

[2015-08-11 03:21] arvidn commented on #40
it also expects the filename to end with .0000.log (and if there are subsequent files, like 0001.log etc those will be picked up as well). However, it also looks like this script has not been updated with the new names of the counters, but still use the old ones from 1.0.x.

However, there is an updated version here: https://raw.githubusercontent.com/arvidn/libtorrent-webui/master/parse_session_st

[2015-08-11 15:11] tchoulihan commented on #40
Okay, I just tried using this new version of parse_session_stats.py, and made the changes you recommended, and am getting the exact same issue, the script stalls, and writes no logging lines.

Here's the link to my new session_stats file, that's not working with the python script:
https://drive.google.com/file/d/0B0PA7XM1BmLMLTYzWjRJRUJfWE0/view?usp=sharing

@arvidn I'm going to guess that format

[2015-08-11 15:42] tchoulihan opened #42 "How to turn on PeerLog alerts/ Peer Logging?"
@arvidn is recommending that I do some logging of PeerLog, and I have the code to do them, but I don't know how to turn the logging on.

He told me :

Here's my code thats not doing anything :(
[code]

[2015-08-11 15:50] tchoulihan commented on #42
@aldenml I also just tried doing this with PeerLogAlert as a `TorrentAlertAdapter` too, but neither worked.

[2015-08-11 16:26] aldenml commented on #42
Pass true in the logging parameter, see https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java#L91

[2015-08-11 16:26] #42 closed

[2015-08-11 16:31] tchoulihan commented on #42
@aldenml Thanks! Do you guys have some sample values for some of those params. I have no idea what `iface` for example should be:

`Session(Fingerprint print, Pair<Integer, Integer> prange, String iface, List<Pair<String, Integer>> routers, boolean logging)`

[2015-08-11 16:35] aldenml commented on #42
Follow this code: https://github.com/frostwire/frostwire-desktop/blob/master/src/com/limegroup/gnutella/gui/Initializer.java#L449

[2015-08-11 16:40] tchoulihan commented on #42
Okay, so I have prange, iface, logging, but not Fingerprint or routers. Neither of those are set in BTEngine.java either, because they're using a different constructor.

[2015-08-11 16:42] tchoulihan commented on #42
@aldenml wait, nm, I found some defaults in the https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java

Sorry aboot that.

[2015-08-11 16:43] tchoulihan commented on #42
It might be useful to make defaultRouters public: https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java#L1071

[2015-08-12 00:17] gubatron commented on #42
making `defaultRouters` public won't really do anything for you, it's a fixed list of routers that you can always see in the code. If you need to use different default routers, then you gotta [use the other constructor](https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java#L91) that takes a list of routers of your chosing.

[2015-08-12 00:50] arvidn commented on #40
your leftmost column is called "seconds", the script is looking for "second". With that change it works. However, you probably want to have the seconds start at 0 as well.

the delimiters among the values and header have different meanings. The header line should not be treated as values.

[2015-08-12 21:01] tchoulihan opened #43 "How to set enum types of SettingsPack settings?"
I'm trying to get jlibtorrent to prefer TCP over uTP, and I ned to set Bandwidth_Mixed_Algo, or Mixed_Mode_Algorithm to prefer TCP.

I used to be able to do `sessionSettings.setMixedModeAlgorithm(BandwidthMixedAlgo.PEER_PROPORTIONAL);`

How do I do this now?

[2015-08-12 21:08] aldenml commented on #43
Something like this:
[code]

[2015-08-12 21:08] #43 closed

[2015-08-12 21:15] tchoulihan commented on #43
Thanks sir.

[2015-08-12 21:48] tchoulihan commented on #40
@arvidn Thanks, that did it! Everything works and its writing out the folder with the index.html perfectly!

I can post / share the folder on my site if you think its necessary, but I think we need to get past this torrents downloading speed issue first: https://github.com/arvidn/libtorrent/issues/77#issuecomment-130146073 , because my program basically broke going from libtorrent 1.0.5.0 to 1.1.0

[2015-08-13 11:40] gubatron opened #44 "[CRASH] libtorrent::block_cache::maybe_free_piece(libtorrent::cached_piece_entry*) / SIGSEGV"
SIGSEGV = Segmentation Fault
SEGV_MAPERR = Address not mapped to object

[code]

[2015-08-13 11:42] gubatron opened #45 "[CRASH] libtorrent::peer_connection::fill_send_buffer() / SIGSEGV :: SEGV_MAPERR"
[code]

[2015-08-13 14:03] bohregard opened #46 "[Crash] signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 099bf868"
Background:

This issue seems to happen quite frequently without any warning. I tried using the addr2line utility and came up with no possible leads. Hopefully this is helpful.

I'm using the gradle maven repo:
[code]

Let me know if you need anything else from me.

Stack Trace:
[code]

Addr2Line:

[code]

[2015-08-13 14:03] tchoulihan commented on #32
Sorry to ask about this again, but I'm trying to create a custom add_torrent method where by default, auto_manage is false, and seed_mode is true.

Setting the flags is confusing, because in the settings you appear to be doing bitwise inversions and ORs, instead of setting multiple flags.

Wouldn't this line in your code be **turning off** automanage, since its using ~(or invert bits)?
https://git

[2015-08-13 14:06] aldenml commented on #46
Can you update to 1.1.0.4? Let us know.

[2015-08-13 15:17] bohregard commented on #46
I get this now:

[code]

Addr2Line:
[code]

[2015-08-13 16:45] bohregard commented on #46
Here is an example that source that crashes. Normally I run the session in a service.

[code]

[2015-08-13 19:01] gubatron commented on #46
Thank you for sending this.
We're finishing a release and will jump on this very soon.

[2015-08-13 19:02] gubatron commented on #46
for now, as a tip, I see you have some UI code when handling your alert.
Might want to execute that code outside the alert handler so you don't hold the jlibtorrent alert loop hostage.

[2015-08-13 19:05] gubatron commented on #46
See `Session::fireAlert`, the call is blocking, it will wait for your handler, so you want to make that handler as fast as possible. Then defer any other processing to some other thread.

https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/Session.java#L907

[2015-08-13 19:08] gubatron commented on #46
(was reading `Activity::runOnUIThread` and maybe it's ok what you have there, but always keep in mind the tip of making your alert handlers not take too much time.)

[code]

[2015-08-13 19:09] gubatron commented on #46
you do have some UI code on the ADD_TORRENT case though that directly tries to affect the UI, might want to put that one also inside your UI runnable.

[2015-08-13 19:10] gubatron commented on #46
Bitcoin tips are welcome for jlibtorrent/android consulting ;)
https://www.changetip.com/tipme/gubatron

just kidding... half kidding ;)

[2015-08-13 19:24] bohregard commented on #46
@gubatron Thanks for the point in the right direction. I've modified the code since I've posted that and I was able to boil it down to this:

[code]

Even if I remove the runOnUiThread, I'll still get the Fatal signal 11 error. It seems the only fix is to remove the reference to int p.

[2015-08-13 19:27] gubatron commented on #46
I believe @aldenml might have something to say about `final TorrentHandle th = ta.getHandle();`
and I think we probably have to fix that method.

[2015-08-13 19:29] gubatron commented on #46
Try something like this for now to get the TorrentHandle (while we discuss a fix)

[code]

[2015-08-13 19:56] bohregard commented on #46
Gives me the same error :(

https://gist.github.com/bohregard/4dd826cef137b9b45b0f

Here is the source that I'm using: https://github.com/bohregard/jlibtorrentTest

[2015-08-13 20:01] bohregard commented on #46
It might be on my end completely. With that source I added, if the application crashes or closes for any reason, if you try add the same torrent back it will produce the error. So it works great for the first time.

@gubatron

[2015-08-13 20:29] gubatron commented on #46
i don't think it's just you, we started getting crash reports with this today from our android users, this will certainly help us replicate and fix the issue.

[2015-08-13 20:49] gubatron opened #47 "[CRASH] libtorrent::web_connection_base::web_connection_base(libtorrent::peer_connection_args const&, libtorrent::web_seed_t&"
Application version: 1.6.1
Android version: Android 5.0
Device: Galaxy Note4 (trltevzw)

[code]

[2015-08-13 20:53] gubatron opened #48 "[CRASH] libtorrent::peer_connection::peer_connection(libtorrent::peer_connection_args const&)"
Application version: 1.6.1
Android version: Android 5.0
Device: Galaxy Note4 (trltevzw)
[code]

[2015-08-13 23:33] gubatron commented on #32
yes, I believe the intention there is to turn off the automanage.

[code]

[2015-08-13 23:38] aldenml commented on #32
I think you can always call TorrentHandle::setAutoManaged, https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/TorrentHandle.java#L297

[2015-08-14 00:01] aldenml commented on #46
Hi @bohregard, I don't see the listener with the view stuff inside your repo jlibtorrentTest. Where do I look?

[2015-08-14 00:01] aldenml commented on #46
Ignore the previous comment.

[2015-08-14 00:09] aldenml commented on #46
@bohregard I can't replicate it. The app runs smooth (I killed, debugged, etc) and it's fine. I notice you are using the Preview Channel. I'm running the app in a Moto G.

![device-2015-08-13-200645](https://cloud.githubusercontent.com/assets/143813/9264669/e297e83c-41f6-11e5-934b-f0af547c03b6.png)

[2015-08-14 01:33] tchoulihan commented on #32
I just figured this out.
So I converted the long to a binary string, figured out which enum_flags_t were turned on by default.

Here are what the bits do:
http://libtorrent.org/reference-Session.html#add_torrent_params

It turns out auto_managed is turned on by default, so you have to do:
`flags -= add_torrent_params.flags_t.flag_auto_managed.swigValue();` to turn it off.

And to turn on the other

[2015-08-14 13:35] gubatron commented on #32
flags -= add_torrent_params.flags_t.flag_auto_managed.swigValue(); to turn it off.

yeah, which is what we do.

[2015-08-14 13:55] bohregard commented on #46
@aldenml I pushed my code to another device and it works great. Seems to only be an issue with this certain device (Specifically Amlogic S802 devices running Kitkat 4.4). My Nexus 6 and Samsung tablet seem to function just fine. Any suggestions?

[2015-08-14 14:03] aldenml commented on #46
No idea, this Amlogic device seems like a powerful device, but who knows how the kernel and OS is compiled. A lot of errors seems to me like a bug in the way the final field mutex is implemented in the VM.

Is this device you are testing something I can get to play with?

In any case, I recommend you upgrade to jlibtorrent-1.1.0.5, it contains a set of important bug fixes inside libtorrent.

[2015-08-14 14:36] bohregard commented on #46
I have an amlogic s802 device that I can send you for testing if you would like. For what it's worth, an older version (pre gradle) worked on the s802 box. Send me a pm for where you want me to send one and I'll get a device to you.

I bumped it up to 1.1.0.5 and it still has the same issue.

[2015-08-14 15:46] aldenml commented on #46
Good to know that it worked before (pre gradle). Let me think more about it and if needed, I will pm you. Can you post two more logs? (to see if I get more info).

[2015-08-14 19:12] bohregard commented on #46
Logcat:

[code]

Tombstone:

https://gist.github.com/bohregard/2aeb06014d5466e5e323

[2015-08-14 19:16] bohregard commented on #46
Logcat:

[code]

Tombstone:

https://gist.github.com/bohregard/46e851570dd13f357cd3

[2015-08-14 20:18] aldenml commented on #46
Just to let you know that and reading (and understanding) this info: https://code.google.com/p/libtorrent/issues/detail?id=627 that maybe is related.

[2015-08-14 20:34] aldenml commented on #46
@bohregard How can I send you an android binary? I'm compiling the arm one with the BOOST_SP_USE_PTHREADS flag.

[2015-08-14 21:48] bohregard commented on #46
Feel free to send me an email at awtodd89@gmail.com :) @aldenml

[2015-08-14 22:17] aldenml commented on #46
Note: remove the dependency to jlibtorrent-android from gradle to make sure it's picking the one I sent you.

[2015-08-15 20:45] gubatron commented on #45
More light on the subject:

Android 5.0
Galaxy Note3  (hltespr)

[code]

[2015-08-17 17:18] bohregard commented on #46
Same story :( https://gist.github.com/bohregard/aa71bbfd16343b280d7b

[2015-08-17 17:28] aldenml commented on #46
I PM'ed you.

[2015-08-20 19:01] gubatron opened #49 "[CRASH] libtorrent::piece_picker::update(int, int)"
Android 5.0
reported on FrostWire 1.6.2
[code]

[2015-08-20 19:02] aldenml commented on #49
I saw it, looked deep and I couldn't find a reason for the NPE.

[2015-08-20 19:24] gubatron commented on #48
Getting way too many of these crashes.

[code]

[2015-08-20 19:56] aldenml commented on #48
too many?

[2015-08-21 18:15] gubatron commented on #48
they keep coming in every day, must be reproduceable.

[2015-08-22 22:15] aldenml commented on #47
Closing this since it's a duplicated of https://github.com/frostwire/frostwire-jlibtorrent/issues/48

[2015-08-22 22:15] #47 closed

[2015-09-02 23:47] tchoulihan opened #50 "Problems with frostwire-jlibtorrent-linux artifact(libjlibtorrent.so) on linux kernel versions 4.x"
I'm currently using the pre-built linux `libjlibtorrent.so` version `1.1.0.6` from here:

http://mvnrepository.com/artifact/com.frostwire/jlibtorrent-linux

Someone running my client is getting the following error(on kernel version `4.1.6-200.fc22.x86_64`):
[code]

I think we've narrowed it down to a linux kernel version issue: I have many of these clients running on various versions of linux 3.x,

[2015-09-03 01:14] aldenml commented on #50
The only thing I can imagine is a missing library, or different location of one of them. I compile the library in  ubuntu and this is the ldd result:
![screen shot 2015-09-02 at 9 12 03 pm](https://cloud.githubusercontent.com/assets/143813/9648512/7f788132-51b7-11e5-8c8d-ef57d3117d84.png)
Can you request a ldd from one of this computers?

[2015-09-03 12:54] tchoulihan commented on #50
On it, waiting for a reply back from the person with the issue.

[2015-09-03 12:55] aldenml commented on #46
Closing due to no follow up.

[2015-09-03 12:55] #46 closed

[2015-09-04 12:41] tchoulihan commented on #50
Here's their output:
[code]

[2015-09-04 13:02] aldenml commented on #50
No idea why so many dependencies are listed here. I suppose that a compilation under kernel 4.x is in order.

[2015-09-04 13:07] aldenml commented on #50
Can you ask which distribution is this? may be the problem is related to some libc incompatibility.

[2015-09-04 13:52] tchoulihan commented on #50
Its fedora.

[2015-09-04 14:32] aldenml commented on #50
I will compile it in fedora for testing, but I don't know if we will support binary per distribution in the near future.

[2015-09-04 15:25] tchoulihan commented on #50
They ran `ldd libjlibtorrent.so` , linux-vdso.so.1 was just the first one on the list.

Hrm... their output seems to be resolving everything correctly, but this is out of my realm of expertise. The only possibilities I can think of is a boost dependency issue, or something to do with a different version of `libc`.

I tried a little googling on fedora and libc issues, but couldn't find anything.

[2015-09-04 15:27] aldenml commented on #50
Taking a look at it in my VM (fedora 22 with kernel 4.1.6-200.fc22.x86_64).

[2015-09-04 16:02] aldenml commented on #50
Just to post and update. It seems that the problem is the version of openssl, even if the ldd resolve them, fedora 22 does not have openssl-1.0.0 (the actual package is >= 1.0.1). It seems to me that this link was manually done. I made the same, and the error is:

`/lib64/libcrypto.so.1.0.0: version `OPENSSL_1.0.0' not found`

[2015-09-04 16:24] tchoulihan commented on #50
Should just installing openssl be enough?

[2015-09-04 16:25] aldenml commented on #50
no, because the version does not match (in fedora is newer). I'm trying to link statically to openssl and see the resulting size.

[2015-09-04 19:41] aldenml commented on #50
Ok, it adds like 2MB. If you are pressed by this issue, I recommend you to compile the binary for this distribution until we figure out a better solution.

[2015-09-05 13:59] tchoulihan commented on #50
I'm not pressed by the issue.

I'm not sure how libtorrent in general gets around this issue, if apps like deluge come packaged with openssl or not, and if they can even run on fedora(I assume they can).

[2015-09-05 14:20] aldenml commented on #50
Then, I will try to get this done for 1.1.0.9. I will play with the flags of openssl to get it statically linked.

[2015-09-05 14:38] tchoulihan commented on #50
Sounds good.

[2015-09-06 02:28] aldenml commented on #50
Fixed and you should be able to run it in next version

![screen shot 2015-09-05 at 10 26 40 pm](https://cloud.githubusercontent.com/assets/143813/9702110/4ed782ae-541d-11e5-92c6-548fec985fb0.png)

[2015-09-06 03:40] gubatron commented on #50
sweet.

i wonder if android has issues like these with openssl.

[2015-09-06 03:42] aldenml commented on #50
no, because I compile statically with openssl (as in windows), the same will be for linux.

[2015-09-09 12:16] gubatron opened #51 "[CRASH] libtorrent::piece_picker::add(int) / SIGFPE (Arithmethic Error)"
Application version: 1.6.3 (current staged rollout)
Android version: Android 5.0
Device: Galaxy Note4 (tritecan)

-gnu.org

[code]

[2015-09-09 18:20] #48 closed

[2015-09-10 20:55] tchoulihan opened #52 "Torrent_finished alerts not firing"
I've notice that occasionally, a torrent will be shown to be 100% downloaded, yet will not fire a torrent_finished alerts. It only happens sometimes.

Could you guys think of a possible cause of this? I've been stumped so far.

[2015-09-10 20:57] gubatron commented on #52
think it might be a precision error? like in reality the torrent has donwloaded 99.99% but rounding makes it look like 100% and the alert won't be fired until it's truly finished?

[2015-09-10 21:01] aldenml commented on #52
Per documentation, that alert is fired if the torrent becomes a seed. Maybe in some case you get 100% and for some reason don't become a seed of the torrent.

Another cause could be so much alerts (do you have logging active?). So much alerts could create some of them removed before we poll them.

[2015-09-10 21:01] tchoulihan opened #53 "Windows 64 bit support?"
I'm noticing that one of my clients trying to run jlibtorrent with the `jlibtorrent.dll` from the maven/gradle x86/ folder isn't working. They're currently running Windows 10 64-bit. Would it be possible to add the 64 bit version to that maven/gradle build as well?

https://github.com/tchoulihan/torrenttunes-client/issues/13

I've tested the jlibtorrent and it does work fine for windows 32 bit.

[2015-09-10 21:07] aldenml commented on #53
I want to clarify that the OS arch does not matter, what matters here is the java arch. You can run the jre 32 bits and you will fine.

The problem with supporting the 64bit version is that we don work with java 64 in windows and we don't test it. Question: If I provide both of them in the same maven jar, how do you setup your library selection?

[2015-09-10 21:09] tchoulihan commented on #52
That's a possibility, let me create a way for me to check that and report back.

Gotcha, now on to figure out why some torrents aren't becoming seeds.

I have plenty of torrentAlertListeners in use, but this issue only affects a minority of torrents, and the order in which they are torrented doesn't seem to matter, leading me to believe logging isn't the issue.

[2015-09-10 21:12] aldenml commented on #52
For release, you definitively want to put logging = false. To much alerts in the queue and to much overhead.

[2015-09-10 21:14] tchoulihan commented on #53
I'm having my client try running the jar with the `java -d32 -jar ...` line, which forces 32 bit. If that works, I'll just close this out.

64 bit isn't absolutely necessary on windows for me.

[2015-09-10 21:18] tchoulihan commented on #52
What's the logging line again? My logging currently consists of:
[code]

[2015-09-10 21:20] aldenml commented on #52
In the Session constructor.

[2015-09-10 21:24] tchoulihan commented on #52
Found it, thanks.

[2015-09-10 21:28] tchoulihan commented on #52
Okay, I increased the precision on the torrent progress:
`float progress = th.getStatus().getProgress();`

I just tried one of the torrents that seems to not fire an alert. The result of that line above is `1.0` , but it still doesn't fire a `torrent_finished` alert

[2015-09-10 21:42] tchoulihan commented on #52
Hrm... maybe is was the logging=true issue, I'm not getting the problem anymore.

Thanks again @aldenml @gubatron , sorry for wasting time.

[2015-09-10 21:42] gubatron commented on #52
ok, then turn off logging to reduce the number of alerts, I think @aldenml's hypotehsis is good.

[2015-09-10 21:43] gubatron commented on #52
maybe there's a way to increase the window size for alerts, so you don't lose any alerts when you have logging on.

[2015-09-10 22:35] aldenml commented on #52
`settings_pack::alert_queue_size`

[2015-09-10 23:00] gubatron commented on #52
#libtorrentMaster!

[2015-09-11 01:54] tchoulihan commented on #53
It didn't seem to work for them unfortunately, but using a 32 bit java version did. I'll close this out as its not really too crucial for me.

[2015-09-11 17:53] aldenml commented on #49
Closing until it appears again.

[2015-09-11 17:53] #49 closed

[2015-09-11 17:54] aldenml commented on #45
Closing until it appears again.

[2015-09-11 17:54] #45 closed

[2015-09-14 21:19] tchoulihan opened #54 "Linux 32 bit issue... messages about stack_guard?"
Hey guys, someone running my client is getting the following error:

[code]

Here's their full output, with java versions and uname:
[code]

[2015-09-14 22:19] gubatron commented on #54
don't they need to specify classpath & library path?

[2015-09-14 22:44] tchoulihan commented on #54
It loads the library during runtime instead of using library.path, because then I know which library to use depending on the OS. This works on linux 64 bit/mac os x / windows 32 bit.

I'd assumed that the `jlibtorrent-linux` `libjlibtorrent.so` was both x86 and x64 compatible, since its parent folder is named `x86_64`.

[2015-09-14 23:22] aldenml commented on #54
That's the name for 64 bits (https://en.wikipedia.org/wiki/X86-64).

[2015-09-14 23:29] tchoulihan commented on #54
Ah I'm dumb. Would it be possible to build a 32 bit version and release it under the `jlibtorrent-linux` artifact?

[2015-09-14 23:31] aldenml commented on #54
Thinking about it, but since we don't test it, it's the same for the windows 64 bits. Not sure about it.

[2015-09-14 23:36] tchoulihan commented on #54
No problem, just letting you guys know about some downstream requests.

[2015-09-17 17:28] tchoulihan commented on #52
This issue starting cropping again for me, even with logging turned off. What are some sizes I should try for `settings_pack::alert_queue_size` ?

[2015-09-17 19:01] aldenml commented on #52
The default number is 1000, if you are dealing with hundred of torrents, I recommend you using 10000 or 20000. Or maybe there is a bug that cause the number not be considered.

[2015-09-17 20:53] tchoulihan commented on #52
Thanks, I'll try this.

[2015-09-18 15:54] tchoulihan opened #55 "Some torrents getting stuck on CHECKING_FILES state"
I'm finding that after running `torrent.resume()`, some of my torrents are getting stuck in the CHECKING_FILES state, and never continue on to the seeding state.

What could cause that to happen?

[2015-09-18 15:57] gubatron commented on #55
how many transfers do you have?

[2015-09-18 15:58] tchoulihan commented on #55
I'm seeding about 20k torrents, but actual currently uploading is usually no more than 0-2 torrents at a time.

[2015-09-18 16:04] tchoulihan commented on #55
I just tried to run a `forceRecheck()`, but it had no effect. The file in the torrent aren't corrupted, they're working fine.

[2015-09-18 16:12] tchoulihan commented on #55
Also, noticing a lot are getting stuck on `CHECKING_RESUME_DATA`

[2015-09-18 16:16] gubatron commented on #55
well, if I remember correctly, you want to use your resume data file so you don't have to re-check the files whenever you re-start, specially in a case like this one where you're starting 20k transfers.

perhaps it's just a matter of letting it finish.

Now, if they're getting stuck on `CHECKING_RESUME_DATA` (I'm not sure), but it might be an issue with your resume data file.

[2015-09-18 16:25] tchoulihan commented on #55
It shouldn't be doing any checks, since I have the `flag_seed_mode` set. This is a tough one.

Here's what I can gather from the documentation:
http://libtorrent.org/reference-Session.html#add_torrent_params

So I suppose that its doing checks because for some reason the hashes are failing?

Should I reach out to arvidn on this one?

[2015-09-18 16:44] aldenml commented on #55
Do you think is this some how related: http://sourceforge.net/p/libtorrent/mailman/message/34455679/

[2015-09-18 16:53] gubatron commented on #55
but then you say that you did this:

so :)

[2015-09-18 16:58] tchoulihan commented on #55
(i.e. not auto-managed) would always be checked immediately and not wait
for any previous torrents to complete checking (causing quite a bit of
disk congestion normally).

That is the case for me, since all my torrents are **not** auto-managed. All force-started.

active_checking_limit (i.e. the number of torrents that are allowed to
be checked at one time). Regardless of whether it’s auto-managed

[2015-09-18 17:14] gubatron commented on #55
at that point you're right it wouldn't make any sense requiring any of that, ideially after the check is done and seeding begins it should add the information of such torrent to the resume.dat file.

[2015-09-22 22:42] tchoulihan commented on #50
@aldenml When will you guys release 1.1.0.9? Some of my users are requesting support for fedora.

[2015-09-22 22:43] aldenml commented on #50
Hopefully this week

[2015-09-22 22:46] tchoulihan commented on #50
Sounds good, thanks.

[2015-09-22 22:47] aldenml commented on #50
Let me reopen this issue to not forget notify you.

[2015-09-23 05:35] joaoluiz commented on #50
Hi, I have the same problem with MacOS X Yosemite.
I will wait  for the next version. Thank you,

[2015-09-23 12:26] aldenml commented on #50
@joaoluiz in this case the problem was the openssl version, but mac should be fine, since it's a standard component. Could you provide more details?

[2015-09-24 09:36] joaoluiz commented on #50
@aldenml thank you for reply. I found my problem, I needed to put this line before use the Session:
System.setProperty("jlibtorrent.jni.path", "/Users/joaoluiz/projects/TestTorrent/lib/libjlibtorrent.dylib");

After this, my code works!
Thank you for helping us.

[2015-09-25 16:39] aldenml commented on #50
@tchoulihan jlibtorrent 1.1.0.9 is released (http://repo1.maven.org/maven2/com/frostwire/jlibtorrent/1.1.0.9/)

For linux, there are two binaries (x86 and x86_64) and both are compiled with openssl statically.

[2015-09-25 16:40] aldenml commented on #54
Released linux 32 bit version with 1.1.0.9

[2015-09-25 16:40] #54 closed

[2015-09-25 16:43] aldenml commented on #51
Not enough information to work with and no more occurrences.

[2015-09-25 16:43] #51 closed

[2015-09-25 17:31] gubatron commented on #54
Excellent news!

[2015-09-25 19:45] tchoulihan commented on #54
Thanks! And for the 32 bit linux support too!

[2015-09-25 20:12] tchoulihan commented on #50
For some reason, 1.1.0.9 isn't working for me now on my ubuntu 64 bit version(the jlibtorrent-linux dependency). It built and wrote the two `libjlibtorrent.so` files correctly, but the 64 bit one doesn't work at least. The last version I had working and tested was 1.1.0.5.
[code]

[2015-09-25 20:14] aldenml commented on #50
Can you give me the result of: $md5sum /home/tyler/.torrenttunes-client/src/lib/x86_64/libjlibtorrent.so

[2015-09-25 20:15] tchoulihan commented on #50
fb1d1314493d4ac27f9f299d73849148  /home/tyler/.torrenttunes-client/src/lib/x86_64/libjlibtorrent.so

[2015-09-25 20:15] aldenml commented on #50
and $ldd /home/tyler/.torrenttunes-client/src/lib/x86_64/libjlibtorrent.so

[2015-09-25 20:16] tchoulihan commented on #50
[code]

[2015-09-25 20:18] aldenml commented on #50
I'm compiling with ubuntu 15.04 due to the lack of java 8 un ubuntu 14.04. Let me research about "/usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.20' not found "

[2015-09-25 20:19] tchoulihan commented on #50
Maybe this answer?

http://stackoverflow.com/a/19997068/1655478

[2015-09-25 20:22] aldenml commented on #50
I think that doing that in linux is a risky proposition, since there are a lot of others shared libraries loaded. What is our OS?

[2015-09-25 20:28] tchoulihan commented on #50
Reading through some comments on related threads, people seem to say that's the quickest workaround.

There seems to be one other solution mentioned in this thread:
http://stackoverflow.com/questions/5216399/usr-lib-libstdc-so-6-version-glibcxx-3-4-15-not-found

[2015-09-25 20:34] tchoulihan commented on #50
Maybe you could just link to a lower version of glibc, my system has up to `GLIBCXX_3.4.19` , but not .20

[2015-09-25 20:40] aldenml commented on #50
Yes, maybe. I'm frustrated by this linux shared libraries issues, not in this project, but in general. Anything that comes outside the official packages is the same, binary issues (I started with RedHat 5.3). What's the point :)

Ok, I will recompile the libraries, but I will update them in frostwire-desktop. Is that ok for you?

[2015-09-25 21:00] tchoulihan commented on #50
All I really care about is those maven dependencies that hold your libraries, `jlibtorrent-android`, `jlibtorrent-linux`, etc. Its the easiest way for me to use them. You could just overwrite them, and I can run a `mvn -U` to force the update, since probably nobody other than me has pulled down 1.1.0.9 so far.

[2015-09-25 21:01] aldenml commented on #50
Ok, I will override only the jblitorrent-linux.

[2015-09-25 21:01] tchoulihan commented on #50
Sounds good, let me know when you're ready for me to test.

[2015-09-25 21:06] aldenml commented on #50
Compiling it now

[2015-09-25 21:44] aldenml commented on #50
Ok, already release to maven, give it like 10 mins and let me know

[2015-09-25 22:28] tchoulihan commented on #50
That did it! Thanks @aldenml . I had to manually delete it from my .m2/ folder, but it picked up the new one now.

Question: does this linking issue only exist for the linux version? Is there any reason the same problem we just had might exist for the windows or mac version?

[2015-09-25 23:14] aldenml commented on #50
Good to know, thanks for reporting.

Similar problems could happen in windows and mac, but so far, we don't have them.

[2015-09-25 23:14] #50 closed

[2015-09-29 21:54] GuacheSuede opened #56 "Architecture Binary Error"
Hello Frostwire,
`Exception in thread "main" java.lang.UnsatisfiedLinkError: Look for your architecture binary instructions at: https://github.com/frostwire/frostwire-jlibtorrent`

I am getting this error, which i thought would have been a wrong version or OS , got the Jar from the  releases tab on GitHub which i then decided to build it with `gradle build nativWindowsJar` (please correct me if i

[2015-09-29 21:57] GuacheSuede commented on #56
PS. got this error while running LazyRead.java

[2015-09-29 22:24] aldenml commented on #56
Hi @GuacheSuede, we don't support Windows 64 at this moment. Do you need to work in 64 bits or can you switch to 32 bits? Remember that only the java 32 bits is necessary if you want to switch, not the actual Windows arch.

The `gradle build nativeWindowsJar` is only to build the jar, but you need the actual binary already compiled.

[2015-09-30 05:01] GuacheSuede commented on #56
Hello @aldenml thank you for the reply, noted.yes, wouldn't be a problem, would be able to use a VM. Though I am quite confused,  is `gradle build nativeWindowsJar` not enough ? do i need to do some other step ?

[2015-09-30 05:13] GuacheSuede commented on #56
would this be the next step ? `compile 'com.frostwire:jlibtorrent:1.1.0.9'`

[2015-09-30 11:43] GuacheSuede commented on #56
Alright found the error was missing binaries, Thank you for your help @aldenml.

Refered to [https://github.com/frostwire/frostwire-jlibtorrent/issues/39](https://github.com/frostwire/frostwire-jlibtorrent/issues/39)

[2015-09-30 12:05] GuacheSuede commented on #56
Closing this now.

[2015-09-30 12:05] #56 closed

[2015-09-30 12:51] aldenml commented on #56
Good that it's working for you.

[2015-10-01 11:58] gubatron commented on #44
keeps re-ocurring with 1.1.0.8 on android.

(Sony Experia)

[code]

[2015-10-06 20:52] sv244 opened #58 "arm64 for Android"
Is there any chance you'll ever add arm64 library for Android to the maven distribution? I'm currently splitting my APK's by architecture to make sure it doesn't become huge (I use another native lib), but the arm64 version doesn't work without a arm64 library.

[2015-10-06 21:18] aldenml commented on #58
Supposedly the arm64 should include a core to run 32 bits instructions. Is this a regular market device/phone?

[2015-10-06 21:52] sv244 commented on #58
No arm64 version of jlibtorrent means that I can't use the arm64 version of my other library. The armv7a version is not automatically included when the arm64 version is missing.

[2015-10-06 21:56] aldenml commented on #58
Now I underestand. Well, there is a chance, but I can't say a time. I need to review the build/jar creation. Is this a pressing issue for you?

[2015-10-06 22:05] sv244 commented on #58
Not really.

You have x86 and armeabi-v7a currently. I didn't have time yet to compile the libraries myself, but I would say that adding the following script to _swig/build-android.sh_ would work?

[code]

[2015-10-06 22:06] aldenml commented on #58
I need to setup the toolchain for 64 bits in android-config.jam and compile the openssl first.

[2015-10-06 22:09] sv244 commented on #58
Haha. Yes of course. I understand. I guess you meant `I need to review the build/jar creation` as something else you need to do first?

[2015-10-06 22:10] aldenml commented on #58
yes :)

[2015-10-06 22:14] sv244 commented on #58
Then I misunderstood that you misunderstood me. Just take your time. I'm happy this library exists anyways.

There aren't that many arm64 Android devices out there yet, but I guess the number will increase a lot in the next year. Better be prepared. :D

[2015-10-07 09:01] GuacheSuede opened #59 "Getting seeders and leechers count"
Hello Frostwire,

I cannot seem to find this anywhere(in the source), i would love to know, how would one find the number of seeders and leechers from a magnet link ?

Thank You for reading.

[2015-10-07 13:25] aldenml commented on #59
From a magnet link? I don't think that's possible. You need to start the download to get those numbers.

[2015-10-07 13:25] #59 closed

[2015-10-07 17:10] GuacheSuede commented on #59
Ah Noted, Ok Thank you

[2015-10-14 17:58] tchoulihan commented on #53
Just a note, I'm getting quite a lot of people requesting Windows java jlibtorrent 64 bit support. Its the only one I think you guys haven't supported yet(linux 32/64, mac 32/64, windows 32)

[2015-10-16 13:40] GuacheSuede commented on #53
Second @tchoulihan , been running into heap issues, many suggested switching to 64 bit Windows

[2015-10-16 13:41] aldenml commented on #53
Thanks! for the feedback, reopened the issue for evaluation.

[2015-11-12 21:34] aldenml commented on #58
Ok, 1.1.0.10 is out for arm, x86, arm64 and x86_64 (see the new artifacts): http://search.maven.org/#search%7Cga%7C1%7Cfrostwire

[2015-11-12 21:34] #58 closed

[2015-11-12 21:35] aldenml commented on #53
1.1.0.10 is released with binaries for windows x86 and x86_64. Give it a try: http://search.maven.org/#search%7Cga%7C1%7Cfrostwire

[2015-11-12 21:35] #53 closed

[2015-11-13 15:39] tchoulihan commented on #53
Thanks, this is huge!

I noticed in this new build, there there is an extra file for a 64 bit mac version, here's the tree:
[code]
So there seems to be a libjlibtorrent.dll under the 64 bit folder, but also one under the main lib folder. Isn't the mac one jvm bit independent?

[2015-11-13 16:21] gubatron commented on #53
i think that is because we dont support mac 32bit

On Fri, Nov 13, 2015, 10:39 AM Tyhou <notifications@github.com> wrote:

[2015-11-13 19:47] aldenml commented on #53
The one in your main should be from not cleaning your environment. I moved it to inside the x86_64 folder for name consistency. Let me know if it doesn't go away after cleaning.

[2015-11-14 16:11] tchoulihan commented on #53
You're right it, after cleaning it was removed, and the only one now is in the x86_64 folder, sorry about that.

[2015-11-14 22:31] tchoulihan opened #61 "How to edit and save a .torrent file(Just for reference)."
So I just wanted to post the question and answer for a problem I just figured out how to solve. You guys might think it worth adding to the examples.

I needed to change the tracker on a ton of my .torrent files, since demonii got shut down, and my torrent's only have 1 tracker and no DHT(for network reasons... there are thousands of them.)

Anyway, here's the method for how to do this:
[code]

[2015-11-14 22:31] #61 closed

[2015-11-14 23:41] aldenml commented on #61
Hi @tchoulihan, thank you for this code. I think that if your are working with tons of torrents, maybe create a TorrentInfo and a create_torrent object is a little on the heavy side. I rather work at the Entry level and add the tracker manually to the dictionary.

[2015-11-15 02:38] gubatron commented on #61
tiny detail: the example function missed the list of trackers as a parameter (if you wanted to include something like this in the java api). But I get the gist of it

[2015-11-15 16:00] tchoulihan commented on #61
Oops, didn't think of doing it like this. Speed wasn't an issue though; it sweeped through about 30k torrents in about 2 minutes.

[2015-12-02 08:44] artouiros commented on #12
i'm tryign to use dht.waitNodes(). but it seems there is such method in jlibtorrent. somethign changed?

[2015-12-02 13:28] aldenml commented on #12
That method was a bad API. We should provide an asynchronous one, also the name was misleading.

[2015-12-02 20:16] sv244 commented on #58
Wow. I missed this. Great!

[2015-12-03 08:47] artouiros commented on #12
and how I should really use magent download? I don't really like Thread.sleep(5000) in the example code. It's terrible.

[2015-12-03 13:38] aldenml commented on #12
The current example is a really bad one. I will reopen this issue and work on it.

[2015-12-07 20:36] aldenml commented on #12
@artouiros Take a look at this new demo: https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/test/java/com/frostwire/jlibtorrent/demo/GetMagnet.java

You can recreate it with the current version, but better wait for the next version.

[2015-12-07 20:36] #12 closed

[2015-12-08 10:53] artouiros opened #63 "A proper way to load multiple torrents?"
Hello. Let's says I have a TorrenManager class which contains a addTorrent() method(see below) If I want to add more torrents do I need to create new Session and Downloader? Or jsut use previous one?
[code]

[2015-12-08 14:22] aldenml commented on #63
Just create one session for your entire program's life. We have our equivalent "TorrentManager" here https://github.com/frostwire/frostwire/blob/master/common/src/main/java/com/frostwire/bittorrent/BTEngine.java

[2015-12-08 14:22] #63 closed

[2016-01-04 22:07] tchoulihan commented on #52
Issue started cropping up again when I restarted my client, not sure what to do. I decreased my `alert_queue` size It kind of shuts my whole service down when it happens.

[2016-01-04 22:57] aldenml commented on #52
Did you increase it? What's the current value?

[2016-01-05 01:21] tchoulihan commented on #52
I increased it to 100k. It appears to be okay now. I've narrowed down the problem I'm having to this: I'm seeding ~40k torrent, and for some reason, it takes a long time for the queue to clear out when starting up the program, so the `torrent_finished_alert`s take a long time to catch up.

I was freaking out at first, but if I give it at least 20 minutes, the torrent finished alerts catch up. I'm

[2016-01-05 08:36] gubatron commented on #52
wonder if it makes sense to have multiple sessions, each with just 50k.
or even different sessions in different processes.

[2016-01-05 14:21] aldenml commented on #52
@tchoulihan I will close the issue since the fundamental problem is the lack of scalability in general, not for this particular alert. It's in our list a review of it. Check this http://blog.libtorrent.org/2012/01/seeding-a-million-torrents/

[2016-01-05 14:21] #52 closed

[2016-01-05 16:39] tchoulihan commented on #52
I agree, its not you guys' issue. I read that article a bunch, and got help from @arvidn directly also to fix some of my scalability issues, but not anything with the alert queue. If anything, I should probably forward this problem upstream.

[2016-01-06 06:05] GuacheSuede commented on #53
@aldenml Thanks for the binaries, seems great so far

[2016-01-06 13:29] aldenml commented on #53
good to know

[2016-01-11 21:04] WhiteTrashLord opened #65 "Crash SIGSEGV"
A fatal error has been detected by the Java Runtime Environment:

  SIGSEGV (0xb) at pc=0x00007ff218585f2b, pid=9787, tid=140677636507392

 JRE version: Java(TM) SE Runtime Environment (7.0_80-b15) (build 1.7.0_80-b15)
 Java VM: Java HotSpot(TM) 64-Bit Server VM (24.80-b11 mixed mode linux-amd64 compressed oops)
 Problematic frame:
 C  [libjlibtorrent.so+0x344f2b]  boost::detail::shared_count::sha

[2016-01-11 21:12] aldenml commented on #65
Is this always happening to you? could you provide a minimal program to reproduce it?

[2016-01-11 21:26] gubatron commented on #65
also, what version of libtorrent are you running?

[2016-01-12 09:27] WhiteTrashLord commented on #65
I test with jlibtorrent-linux-1.1.0.19.jar.

I saw this crash only 1 time so far.
Sorry, I don't know how to reproduce it.

Where does the problem occur? com.frostwire.jlibtorrent.swig.libtorrent_jni.torrent_handle_info_hash?

I don't know much about JNI :(

[2016-01-12 23:27] okimuri opened #66 "build.gradle is using unset ossrhUsername and ossrhPassword properties"
There is a problem on lines #137 and #141 in build.gradle file; unset properties are used for authentication that lead to error when executing the Gradle build.

Suggest the following fix (for both lines):

`authentication(
userName: hasProperty('ossrhUsername')?ossrhUsername:'',
password: hasProperty('ossrhPassword')?ossrhPassword:''
)`

===
problem reproduced with

Gradle: 2.10
Groovy:       2.4

[2016-01-13 03:00] aldenml commented on #66
Hi @okimuri, thank you for taking a look at it. Since we (the admins) are the only ones with credentials to upload to sonatype, I made it that `gradle build` does not sign the jars. See https://github.com/frostwire/frostwire-jlibtorrent/blob/master/build.gradle#L103

The libraries should be in `./build/libs/`. Let me know if this works for you.

[2016-01-13 03:00] #66 closed

[2016-01-13 03:03] aldenml commented on #65
JNI is very sensitive to memory management issues. I will keep this open in case we start to get this errors

[2016-01-13 18:26] WhiteTrashLord opened #67 "invalid torrent handle used"
java.lang.RuntimeException: invalid torrent handle used
	at com.frostwire.jlibtorrent.swig.libtorrent_jni.session_handle_remove_torrent__SWIG_1(Native Method)
	at com.frostwire.jlibtorrent.swig.session_handle.remove_torrent(session_handle.java:231)
	at com.frostwire.jlibtorrent.Downloader.fetchMagnet(Downloader.java:150)

I sometimes see this exception.
Version: 1.1.0.19

[2016-01-13 18:32] aldenml commented on #67
I recommend you wrap your call of fetchMagnet in a try-catch block, I need to review in more detail this fetchMagnet. Thanks for the report.

[2016-01-13 19:14] WhiteTrashLord commented on #67
I think I found the reason for this. It seems I have added the same magnet 2 times and both downloads failed. 1 will show this exception because it was already removed.

Will you make the downloader more resilient? Or I have to make sure that the same magnet is only added once at the same time? And thanks for the fast reply btw.

[2016-01-13 19:17] aldenml commented on #67
I will make it more resilient, but I want to make it in the context of more bigger refactor.

[2016-01-14 00:30] WhiteTrashLord opened #68 "Another crash"
A fatal error has been detected by the Java Runtime Environment:

  SIGSEGV (0xb) at pc=0x00007f340c2eb0d0, pid=16604, tid=139861386065664

 JRE version: Java(TM) SE Runtime Environment (7.0_80-b15) (build 1.7.0_80-b15)
 Java VM: Java HotSpot(TM) 64-Bit Server VM (24.80-b11 mixed mode linux-amd64 compressed oops)
 Problematic frame:
 C  0x00007f340c2eb0d0

 Failed to write core dump. Core dumps ha

[2016-01-14 00:33] aldenml commented on #68
Java 8 will not make any difference. Let me review this. Question: Are you stressing the library with a lot of magnet downloads concurrently?

[2016-01-14 00:45] WhiteTrashLord commented on #68
Around 15 magnets downloads were active I think. Most of these magnets will timeout and be added again after some time. So yes, there is some stress.

[2016-01-14 01:08] WhiteTrashLord commented on #67
Thanks. It seems there are no problems when you add a magnet several times and fechting is successfully. Only timeouts should lead to this exception. Therefor a fix has a low priority in my case.

[2016-01-14 01:08] #67 closed

[2016-01-14 01:38] WhiteTrashLord opened #69 "LibTorrent.version()"
Under Windows it gives me this result: 1.1.0.0

I am confused because I expect a version like 1.0.7.

Is it a bug or do you work with an unstable version of libtorrent?

[2016-01-14 01:52] aldenml commented on #69
That's correct, we are working with the latest from master, and you can see the exact git revision number with `LibTorrent.revision()`. Btw, libtorrent master is pretty stable.

[2016-01-14 01:52] #69 closed

[2016-01-14 01:55] aldenml commented on #68
I think I found a possible reason for this (fetchMagnet needs to be a lot more robust). I will work on it.

[2016-01-14 16:31] aldenml commented on #68
@WhiteTrashLord maybe you want to replicate the fetchMagnet source code with some additional internal check. In jlibtorrent there are two layers, the swig, and the one we provide for better API, but nothing prevents you from ignoring our layer and go straight to use the swig one.

[2016-01-18 13:11] WhiteTrashLord commented on #65
Unfortunately I see a lot of crashes. Older versions might be more stable?

In my test code I get a list of torrents with getSwig().get_torrents() and request several fields from every torrent.

I frequently get a new list of torrents and iterate through it.

[2016-01-18 20:55] aldenml opened #71 "Crash signal 4 (SIGILL) reported in android play console"
[code]

[2016-01-18 20:59] aldenml commented on #65
Older version if anything are more unstable and with more bugs from libtorrent itself. Can't give you an estimate, but I'm reviewing this (and the others).

[2016-01-18 22:07] WhiteTrashLord opened #72 "set_dummy_string_ doesn't persist"
I made some tests:

        torrent_status ts = th.getSwig().status();
        ts.set_dummy_string_("test");

        String dummy = ts.get_dummy_string_();
        System.out.println("Dummy "+dummy);
        if ( dummy != null)
        {
            System.out.println("Dummy length "+dummy.length());

        }

        th.getSwig().status().set_dummy_string_("test");

        String dummy2 = th.

[2016-01-18 22:17] aldenml commented on #72
Actually, this dummy_string is internal, I will remove it from the swig api. But in any case, you can't expect any change in some property in `torrent_status` persists. This object is built (inside libtorrent) every time you request the status.

[2016-01-18 22:17] #72 closed

[2016-01-18 22:22] WhiteTrashLord commented on #72
Is there any other way to store custom data for a torrent in a session?

[2016-01-18 22:27] aldenml commented on #72
No that I know.

[2016-01-18 22:43] gubatron commented on #72
maybe he could alter the info dict, but it'd be better if you just kept another data structure for that, perhaps a `Map<Sha1Hash, MyCustomDataHolder>` would help.

[2016-01-19 07:35] WhiteTrashLord commented on #65
I think I saw many more crashes when I worked on the session concurrently with several threads. I tried to reduce it which made things better.
You tried to make anything thread-safe?

Probably the safest way is to always use only listeners, or?

[2016-01-19 14:06] aldenml commented on #65
I wouldn't treat anything thread-safe unless stated otherwise, specially `Session` since it holds a lot of states (mutable data). Listeners and alerts are the way to interact with the session. A `TorrentHandle` coming from an alert is a very delicate object and should be used for the smaller amount of time and never shared to other threads.

[2016-01-20 01:38] WhiteTrashLord commented on #65
What about removing and adding a torrent? I think at least removing can cause a lot of troubles if the AlertLoop-Thread works on a handle of a torrent which was just deleted.

Is it necessary to start  alertsLoop() in the session constructor? I think I would start it once the first listener was added.

Currently I am thinking about modifying the Session-alertsLoop so I can run also my own code on

[2016-01-20 02:49] aldenml commented on #65
I need to think a little more about concurrency issues while removing a torrent.

AlertsLoop and Session are there to provide an out-of-the-box solution. I personally don't see an advantage of no starting it in the constructor (you will need it pretty soon anyway).

Can say without knowing what's your modification. If you don't mind sharing it.

[2016-01-20 05:33] WhiteTrashLord commented on #71
I think I have seen a similar crash. You should check if concurrency is involved.

[2016-01-20 12:30] rkfg opened #73 "Cross-compilation for Windows fails"
So I've managed to compile it for Linux, no problems. Now I've installed mingw and trying to build the library but stuck at:
[code]

I have libssl-dev installed and also cloned openssl git repo to ~/Development but it didn't change anything. Instructions on the main page are obsolete and should be updated but in the meantime I'm interested in solving this. I'm on Debian testing amd64. Mingw64 tool

[2016-01-20 13:57] aldenml commented on #73
You need to compile openssl with the mingw toolchain and put the headers and binaries in the right place  (<toolchain-root>)/i686-w64-mingw32/include/openssl and ./i686-w64-mingw32/lib/)

Actually, I strongly recommend you compile openssl for Linux too, since it will have less binary dependencies and could be an up to date version.

[2016-01-20 14:00] aldenml commented on #68
@WhiteTrashLord I will reopen the issue, I think it's important to review it in detail.

[2016-01-20 14:00] aldenml commented on #65
@WhiteTrashLord reopening for more review.

[2016-01-20 14:14] aldenml commented on #44
Another one in 1.1.0.19
[code]

[2016-01-20 15:27] aldenml commented on #71
Avoiding crash: https://github.com/frostwire/frostwire-jlibtorrent/commit/27810093808b5a4c815e690e7ce06e2cef5c1695

[2016-01-20 15:27] #71 closed

[2016-01-20 15:32] aldenml commented on #55
I will close this, you reported the issue in libtorrent and we do nothing related to it. If you are loading a lot of torrents, the calls to `stat` files can be queued for a long time if the the underlying filesystem is under presure. Is this a VM or real hardware?

[2016-01-20 15:32] #55 closed

[2016-01-20 15:38] tchoulihan commented on #55
Real hardware, that's fine to close.

[2016-01-20 18:50] rkfg commented on #73
Thank you for suggestions. Now, it's not really related to the library but I wasn't able to find any instructions about cross-compiling OpenSSL. I saw some outdated stuff and statements that it "works out of the box" which isn't true in my case.

What I did:

1. cloned https://github.com/openssl/openssl
1. git checkout OpenSSL_1_0_2-stable
1. `./Configure no-dso mingw64` (without no-dso I get `fat

[2016-01-20 19:01] aldenml commented on #73
Wow, I don't remember having this problems. I do remember built the mingw64 toolchain in the linux box because I didn't trust the one coming in the distro and I want to be in total control of what dependencies are in the final binary.

Give it a try compiling the toolchain, or maybe I can send you my mingw-toolchain.tar.gz for your testing (Ubuntu 14.0,4).

[2016-01-20 21:27] rkfg commented on #73
Figured this out though still haven't completed the main task. The rabbit hole happened to be much deeper than I initially thought.

So the problem was that mingw64 wasn't used at all. The right way to cross-compile is to use this command: `./Configure no-shared mingw64 --cross-compile-prefix=x86_64-w64-mingw32-` for 64 bit and `./Configure no-shared mingw --cross-compile-prefix=i686-w64-mingw32-`

[2016-01-20 21:30] aldenml commented on #73
Good to know. I solve that problem changing the CC and CXX environment variables to the desired compilers in the toolchain.

[2016-01-20 21:33] rkfg commented on #73
I tried changing them and got lots of perl errors about undefined vars. The approach I described works much better. That said, I've compiled OpenSSL for x86_64 with mingw, just checked out OpenSSL_1_0_2-stable. Something must be broken in master.

[2016-01-20 21:38] rkfg commented on #73
How should I add those includes from openssl and compiled libs (libssl.a, libcrypto.a) to the toolchain? Where exactly to put them?

[2016-01-20 22:19] aldenml commented on #73
`<toolchain>/i686-w64-mingw32/include/openssl` and `<toolchain>/i686-w64-mingw32/lib/` in my case of custom toolchains. Just look for the standard include and lib folder of your toolchain, take care of the 32 and 64 bit issue.

[2016-01-20 22:32] rkfg commented on #73
Are you sure? The scripts expect `<toolchain>/windows-x86_64/bin/x86_64-w64-mingw32-g++` as a compiler, I suppose `include` and `lib` should go to `<toolchain>/windows-x86_64/include` and `<toolchain>/windows-x86_64/lib`. If that's the case, it doesn't work as expected, it can't find those files:
[code]

Of course, I can put them into `/usr/local/include` (for some reason `/usr/include` isn't used

[2016-01-20 22:52] aldenml commented on #73
I'm not an expert in toolchains but I think every toolchain should have a sysroot, where the standard libraries and includes reside. I suggest looking for the 32 bit versions of the windows libraries in the mingw64 toolchain, something similar should exists for the regular 64 bit. The layout should reveal the actual paths to put the openssl.

[2016-01-21 00:28] gubatron commented on #73
(the pains of openssl compilation, I feel his pain)

[2016-01-21 05:54] arvidn commented on #44
would it be possible to resolve the instruction pointer / program counter to a file and line number? if you have the original binary and debug symbols, "addr2line" should be able to do it.

if it would be possible to get the assembly code around the program counter, it might be possible to deduce exactly which pointer or field is being accessed that's failing (if combined with the contents of the

[2016-01-21 14:28] aldenml commented on #44
I'm afraid that without debug binaries and ASLR in android, I can't get that valuable info. Regarding the difference in the reports, yes, I'm 98% sure are the same (the reality of bad phones/android bugs/bad error reporting could be disappointing, btw :)

Your explanation is interesting, maybe it's something that can be coded in the unit tests.

[2016-01-21 18:38] arvidn commented on #44
I would expect (and if not, recommend) keeping a repository of unstripped binaries for every release. and release stripped binaries. alternatively, build with debug symbols in a separate file (similar to .pdb files on windows). Anyway, it's not the end of the world. I'll review the code in there. There are a few other bug reports against 1.1 ahead of it though

[2016-01-21 18:40] aldenml commented on #44
Thank you! I will instrument your recommendation.

[2016-01-22 10:04] rkfg commented on #73
Thank you, @aldenml, I've found the root for includes and libraries. Progress so far: compiled OpenSSL on mingw64, the root for include and lib is /usr/i686-w64-mingw32 and /usr/x86_64-w64-mingw32 (32 and 64 bit). Symlinked include, copied libs, looks fine.

Now the Boost part. Should I compile it per platform or can it be compiled partially just for jlibtorrent? Full mingw compile looks even more

[2016-01-22 13:01] aldenml commented on #73
You don't need to compile boost. It's used as source during the libtorrent compilation. I'm using openssl-1.0.2d (the tar.gz). I don't remember having problems with SSLv2, could you try with http://openssl.org/source/old/1.0.2/openssl-1.0.2d.tar.gz

[2016-01-22 14:56] rkfg commented on #73
Yes, thanks for that tip. I tried on another machine and compiled master again. With 1.0.2 it's good. The only issue left is linking:
[code]

I hacked a way around it by adding this to libtorrent:
[code]
But I'm not sure it's the right way. But now I have a DLL on hands, that's already something. I'd like someone to follow my steps to build it from scratch and see if the process fails the same way

[2016-01-22 15:02] aldenml commented on #73
Good to know you reached this point. Well, I decided not to add gdi32 to libtorrent, it's not the right solution. OpenSSL made the mistake of using those functions at compile time, instead of asking at runtime. I removed the code (function body) in read_win.c and compiled again OpenSSL (it's trivial). Let me know if you need help with this.

[2016-01-22 15:18] rkfg commented on #73
That's not rocket science:
[code]
Yeah, it was very unexpected to find a GDI dependency in OpenSSL. Despite I hate to change such critical code as OpenSSL seems to be, this one looks safe enough. And it's arguably less hacky than changing that Jamfile in libtorrent... but after removing this function it compiled fine without gdi32. Thank you for your time and assistance, @aldenml! I hope all of th

[2016-01-22 17:05] gubatron commented on #73
ha, they'd use the screen as a source of entropy (I think that's how crypto guys cal it)

[2016-01-22 17:11] rkfg commented on #73
Exactly, and that function is marked as deprecated. Too bad there's no way to correctly turn it off, it's only skipped on WinCE and cygwin.

[2016-01-22 17:30] gubatron commented on #73
the proper way should be with a compilation flag IMO, something like `-DWITH_GDI` then use preprocessor `#ifdef WITH_GDI` to include the code, or the other way around, but I rather not have that dependency by default, it'd be up to OpenSSL upstream. But that'd be a nice patch to have, one less dependency that's not even cross OS compatible, and now that you mentioned it's deprecated, it should def

[2016-01-22 17:34] rkfg commented on #73
Deprecated doesn't mean it's useless, the comment says it's here for backward compatibility. So if it's excluded, some older code that relies on it may break. Legacy may be a tough thing.

[2016-01-22 18:35] gubatron commented on #73
true true, so then it should be `-DWITHOUT_GDI`

[code]

[2016-01-25 13:53] aldenml commented on #73
Closing this. @rkfg if you need something else, feel free to reopen it.

[2016-01-25 13:53] #73 closed

[2016-02-01 17:46] aldenml commented on #68
@WhiteTrashLord just to let you know that I see a lot of potential problems with the current fetchMagnet. Working on it for next version.

[2016-02-01 21:15] WhiteTrashLord commented on #68
Thanks. With my own code I have no more crashs :)

[2016-03-08 10:53] proninyaroslav opened #74 "Seeding torrent after downloading"
Hello. I know how to seeding torrent on libtorrent, but I can't understand how it's done on jlibtorrent. Besides, I didn't find examples in the demo folder. I would be grateful for any hint.

[2016-03-10 14:10] aldenml commented on #44
The error is not appearing anymore, closing this for now.

[2016-03-10 14:10] #44 closed

[2016-03-10 19:28] tchoulihan opened #75 "How do I delete a tracker from an existing torrent file? Or clear all the current trackers?"
I thought that this code would work, but it doesn't seem to clear the trackers that are currently there:

[code]

[2016-03-10 20:28] tchoulihan commented on #75
I've also found `torrentHandle.replaceTrackers(....)` but it doesn't seem to actual change the underlying `TorrentInfo` in order to be able to save the file.

[2016-03-10 20:31] aldenml commented on #75
For what I can see in the `create_torrent`, this class receive a `torrent_info` to do a bootstrapping in data, but with limited functionality like for example "remove existing torrents". I hope this new code could help you:

https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/test/java/com/frostwire/jlibtorrent/ChangeTrackersTest.java#L21

Note: remember the high level API `Entry` i

[2016-03-10 20:31] #75 closed

[2016-03-10 20:36] tchoulihan commented on #75
Thanks for this, testing it out now.

[2016-03-10 20:45] tchoulihan opened #76 "Error when creating new Session() with jlibtorrent 1.1.0.20"
Just updated jlibtorrent to version `1.1.0.20`( both `jlibtorrent` and `jlibtorrent-linux` maven deps) and I'm getting the following error when creating a `new Session()`

[code]

[2016-03-10 20:47] aldenml commented on #76
Can you update to 1.1.0.22? I can't provide support/help for older versions

[2016-03-10 20:49] tchoulihan commented on #76
My apologies wasting your time here, you're correct it was a version issue, I hadn't loaded the correct `libjlibtorrent.so` file.

[2016-03-10 20:49] #76 closed

[2016-03-10 20:51] tchoulihan commented on #75
Okay, just tested this, and it works! Thanks so much for this. It might be useful to add a `torrent_info.remove_trackers`, instead of manipulating the `string_entry_map` like you're doing, but as long as we have the solution recorded here, then its no prob.

[2016-03-10 20:58] tchoulihan commented on #75
Okay, testing now.

[2016-03-10 21:01] tchoulihan commented on #75
Yep that `ti.getSwig().trackers().clear();`  works, a lot cleaner too.

[2016-03-16 19:18] mianharisali opened #77 "A/libc: Fatal signal 11 (SIGSEGV) , Crash?"
i am getting crash on android , this is the logcat message.
A/libc: Fatal signal 11 (SIGSEGV), code -1862253571, fault addr 0xaa0103f4910283b3 in tid 12321 (Session-alertsL)

[2016-03-16 19:20] aldenml commented on #77
We will need more info, like a lot more lines from the log and versions. Also a minimal source code that reproduce the crash.

[2016-03-16 19:23] mianharisali commented on #77
first thanks for prompt reply :)
this is the only message i get on log cat , and my android application stops working.
version is=1.1.0.22

i am setting piece priorities at run time , and randomly i get this message.

[2016-03-16 19:29] mianharisali commented on #77
scenario 1.
add torrent.
select one file and set its priority to seven , and other to IGNORE.

now set the priority of all pieces of that file to IGNORE (Crash will occur here)

now set the priority of specific piece of selected file to SEVEN (Some time crash occurs here.)

[2016-03-16 19:31] mianharisali commented on #77
scenario 2

add torrent.
select one file and set its priority to seven , and others to IGNORE.

now set the priority of some pieces (lets say first 5) to SEVEN , and others to IGNORE

when the all 5 pieces finish downloading , the application crashes.

[2016-03-17 11:01] mianharisali commented on #77
--------- beginning of crash

03-15 04:13:22.128  5600  5630 F libc    : Fatal signal 7 (SIGBUS) in tid 5630 (Session-alertsL)

03-15 04:13:22.263   506   506 F DEBUG   : *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***

03-15 04:13:22.263   506   506 F DEBUG   : Build fingerprint: 'google/angler/angler:6.0.1/MHC19I/2590160:user/release-keys'

03-15 04:13:22.263   506   506 F DEBUG

[2016-03-17 11:39] mianharisali commented on #77
my guess is , if you set priority of a piece to SEVEN if it is already downloaded , you get this crash.

this is the file containing detailed report.

https://drive.google.com/file/d/0B0NZWsR7mLcZdWxIbV8yNDJoeUU/view?usp=sharing

[2016-03-17 14:14] aldenml commented on #77
@mianharisali Thank you for the report and analysis, I will take a look at it (can't give you ETA)

[2016-03-17 15:46] mianharisali commented on #77
one more thing that i noticed that it is calling void com.frostwire.jlibtorrent.Session$1.run() and session was already running.

[2016-03-17 15:47] aldenml commented on #77
Could you elaborate more your last comment? I don't understand it

[2016-03-17 15:49] mianharisali commented on #77
in my app , before the crash session was already running , but if you take a look at the end of crash log ,the last call is  com.frostwire.jlibtorrent.Session$1.run() , do you think it should call this function when the session was already running.?

[2016-03-17 15:53] aldenml commented on #77
That run should be the one for the alerts loop, the one that pull the alerts and notify the listeners. I'm trying to figure out if the crash is in the process of setting the priorities or in the alert side, when you receive it.

Are you setting the priority in the listener of the PieceFinishedAlert?

[2016-03-17 18:24] mianharisali commented on #77
i call a function ( downloadNext() ) (sequential download type of thing to download pieces in order) in alert listener that sets the priority of ignored piece to SEVEN.

i think i got what is the issue.
this is how i was getting crash.
1=add torrent
2=pause it
3=select a specific file and set its priority to SEVEN
4=now set the priority of all pieces of selected file to IGNORE
5=set priority of sp

[2016-03-18 19:07] aldenml commented on #77
Hi @mianharisali, I doubt it, but maybe the issues was in the libtorrent revision I use for  1.1.0.22, I can't replicate your scenario using HEAD from master in jlibtorrent and RC_1_1 libtorrent. Here it is the unit test that go green every time:

https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/test/java/com/frostwire/jlibtorrent/PiecePriorityTest.java

Btw, if you want to use s

[2016-03-18 19:07] #77 closed

[2016-03-18 19:09] #65 closed

[2016-03-18 19:09] #68 closed

[2016-03-21 17:08] WhiteTrashLord opened #78 "Crash"
After many weeks without any problems / crashes I got this error:

 A fatal error has been detected by the Java Runtime Environment:

 SIGSEGV (0xb) at pc=0x00007fb0b5c75557, pid=26384, tid=140396933371648

 JRE version: Java(TM) SE Runtime Environment (7.0_80-b15) (build 1.7.0_80-b15)
 Java VM: Java HotSpot(TM) 64-Bit Server VM (24.80-b11 mixed mode linux-amd64 compressed oops)
 Problematic frame

[2016-03-22 15:39] aldenml commented on #78
I will close this, but feel free to re-open if the problem persist or you have an example to reproduce it. In any case, the error is coming from the internal libtorrent and I checked the source code and I can't detect any reasonable situation that could trigger this crash.

[2016-03-22 15:39] #78 closed

[2016-03-29 15:45] gubatron opened #79 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) libtorrent::part_file::allocate_slot(int)+32"
This one started popping out on frostwire for android's latest staged release (build 241) running jlibtorrent 1.1.0.22, on Android 5.0 - Galaxy S5 device.

[code]

[2016-03-30 05:17] xwlcn opened #80 "have no error or exception auto exit"
example：
`String uri="magnet:?xt=urn:btih:a8955186cd9509af906dcb293795733e62efed48";
		  File saveDir=new File("C:\\Users\\Administrator\\Desktopfrostwire_installer.torrent");
		  Session s=new Session();
		  Downloader d=new Downloader(s);
		  System.out.println("Fetching the magnet uri, please wait...");
		  byte[] data=d.fetchMagnet(uri,30000);
		  if (data != null) {
		    System.out.println(E

[2016-03-30 15:29] aldenml commented on #80
@xwlcn what do you mean with `program auto exit`? What version of jlibtorrent are you using?

[2016-04-01 06:58] WhiteTrashLord opened #81 "Boost error"
I think now I had a Boost exception which crashed the application :(

I have only this in the logs:

terminate called after throwing an instance of 'boost::bad_weak_ptr'
  what():  tr1::bad_weak_ptr

I think it happened while doing this call:  session.getSwig().get_torrents()

[2016-04-01 18:43] aldenml commented on #81
Hi @WhiteTrashLord, I was not able to replicate the issue (see https://github.com/frostwire/frostwire-jlibtorrent/blob/ed0e60a37c946358c3239e664ad0a9d5d7461179/src/test/java/com/frostwire/jlibtorrent/SessionGetTorrentsTest.java#L49). This is called 20 times. I will close this, but feel free to reopen if you can provide more information or a case we can replicate.

Thanks for the report.

[2016-04-01 18:43] #81 closed

[2016-04-02 15:06] diaconuliviu85 opened #82 "Vulnerabilities - OpenSSL"
Hello
thank you for the work is a good bookstore .
Unfortunately I have a problem with the latest version of OpenSSL version 2015 is now rejected by Google. Please upgrade to a new version of OpenSSL .

compile 'com.frostwire:jlibtorrent:1.1.0.22' is OpenSSL 1.0.2d 9 Jul 2015

[2016-04-02 15:11] se-bastiaan opened #83 "OpenSSL in the Play Store"
Today Google sent out [an important email](https://gist.github.com/se-bastiaan/0f7daf07b5401f2d6dc1b541038b4e46) regarding OpenSSL being used in applications.

Someone brought this to [my attention](https://github.com/se-bastiaan/TorrentStream-Android/issues/3) regarding a library of mine that is relying on jlibtorrent and I thought it might be good to relay the message, since LibTorrent is the pa

[2016-04-02 19:17] gubatron commented on #83
If I remember correctly we're up to date with the openssl version we link against.
Even in my system (I'm not the one that builds) I already have `1.0.2g` (updated March 25th)

[2016-04-02 20:18] aldenml commented on #79
Not sure what could be the problem, but it's probably related to this question: https://github.com/arvidn/libtorrent/issues/574#issuecomment-204746068

with solution in PR: https://github.com/arvidn/libtorrent/pull/578

[2016-04-02 20:18] #79 closed

[2016-04-02 20:21] aldenml commented on #82
@diaconuliviu85 , I will close this issue and follow up in this one https://github.com/frostwire/frostwire-jlibtorrent/issues/83#issuecomment-204784438

[2016-04-02 20:21] #82 closed

[2016-04-02 20:23] aldenml commented on #83
@se-bastiaan I will take care of it

[2016-04-02 20:27] diaconuliviu85 commented on #83
I have the same problem myself, and if I unzip the app is the 2015 version of OpenSSL.
although computer I installed version dein March 16th (1.1). The library has separate version 1.0.1d.
Thank you

[2016-04-02 21:13] gubatron commented on #83
Thanks @aldenml we're all in this together as this library is used on our Google Play app as well.

[2016-04-04 18:05] aldenml commented on #83
@se-bastiaan @diaconuliviu85 version 1.1.0.23 is published in master. It has openssl 1.0.2g.

If you find API braking changes, just remove the bunch of "get" prefix from the methods. Also, I don't know if you are aware that the android Intel x86 and x86_64 versions suffer from the issue of "text relocations"  in Android 6.0 AND you target API 23. This is probable due to some assembler used in Open

[2016-04-04 18:05] #83 closed

[2016-04-04 18:26] gubatron commented on #83
That was fast, thanks!
![chris-farley-you-are-awesome](https://cloud.githubusercontent.com/assets/163977/14258644/7fd56ff8-fa60-11e5-8dab-7aa9051e617f.jpg)

[2016-04-04 23:24] diaconuliviu85 commented on #83
Thanks .

[2016-04-05 10:59] WhiteTrashLord commented on #81
I have several random crashes these days :(

Now it got this:

java: malloc.c:2842: mremap_chunk: Assertion `((size + offset) & (_rtld_global_ro._dl_pagesize - 1)) == 0' failed.

It's possible that my RAM is defective?

[2016-04-05 12:43] aldenml commented on #81
Defective RAM, or any faulty component in the bus, or heat could give you random crashes like this, but you should be able to observe it at any moment. I suggest the following test: Stop any process using jlibtorrent and start a process that demand high CPU/memory usage, like for example, recode a long video to h264.

Any recent upgrade in the system? OS version? JRE version? jlibtorrent version?

[2016-04-07 09:52] #74 closed

[2016-04-08 11:09] cocia opened #84 "Android:Specific saveDir of TorrentHandle is effect in arm but not in x86."
Latest version:
    compile 'com.frostwire:jlibtorrent:1.1.0.20'
    compile 'com.frostwire:jlibtorrent-android-arm:1.1.0.20'
    compile 'com.frostwire:jlibtorrent-android-x86:1.1.0.20'

I want to make torrent file with local data file and run as seed for others.

data file is at: "/sdcard/test/a.mp4"

code looks like these:
Maket torrent object: ti
File saveDir = new File("/sdcard/test");
sessio

[2016-04-08 18:33] aldenml commented on #84
What is the error? can you post the `adb logcat`?

[2016-04-08 22:04] gubatron commented on #84
Please include the code of how you make the 'ti' object.
On Apr 8, 2016 2:33 PM, "Alden Torres" <notifications@github.com> wrote:

[2016-04-09 00:47] cocia commented on #84
@aldenml @gubatron
Add more: /sdcard/test/TorrentsData is my default torrent data download location.
There are not too much logcat.

This is torrent making utility which is from com.frostwire.jlibtorrent.demo. a little bit change to support Rx observable:
[BTMakeTorrent.java.txt](https://github.com/frostwire/frostwire-jlibtorrent/files/211024/BTMakeTorrent.java.txt)

This is my code to make and do

[2016-04-09 17:20] gubatron commented on #84
you should grep your source code directory for "TorrentsData"
try:

`grep "TorrentsData" * -R`

and see what you can find. That extra path is not in our source code.

[2016-04-09 19:02] jackwakefield opened #85 "libjlibtorrent.so has text relocations"
This produces a warning on Android devices lower than Marshmallow, but an error on Marshmallow and above.

[code]

[2016-04-09 22:42] gubatron commented on #85
@jackwakefield what version of jlibtorrent do you have on your gradle dependencies?

[2016-04-10 11:47] jackwakefield commented on #85
@gubatron 1.1.0.23, I've just tested with 1.1.0.22 which doesn't throw the error.

[2016-04-10 12:19] aldenml commented on #85
@jackwakefield I will review that, I documented the problem here https://github.com/frostwire/frostwire-jlibtorrent/issues/83#issuecomment-205423452. At this moment I don't know if it's related to the upgrade of OpenSSL (having some new assembly) or just upgrading the toolchain solve the problem. If it is possible for you, If only for a few days, you can change your targetSDK to 22 and 1.1.0.23 sh

[2016-04-11 14:51] WhiteTrashLord opened #86 "start_upnp()"
Solved

[2016-04-11 15:01] aldenml commented on #86
UPnP is enable by default when you create a session (the same way libtorrent behave). We didn't expose a toggle UPnP in jlibtorrent, but you can code it the same way it's for DHT, see https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/DHT.java#L206

[2016-04-11 15:12] WhiteTrashLord commented on #86
Thanks for the fast answer. Here you can read that it's off by default:

http://www.rasterbar.com/products/libtorrent/manual.html#start-upnp-stop-upnp

Are you sure that it's really turned on? :D

[2016-04-11 15:25] aldenml commented on #86
Thank you for the info, it is always good to double check the default values. The documentation you are pointing out is for a very old version 0.16.18.

Here it is the new documentationhttp://www.rasterbar.com/products/libtorrent/reference-Settings.html#enable_upnp, it is enable by default :)

Do you have any problems with it?

[2016-04-11 15:37] WhiteTrashLord commented on #86
I am trying to find out why my Libtorrent doesn't upload very much. Maybe the upload is completely stopped once a torrent is finished (not very sure about that).

Might it help to turn off Auto Managed?

[2016-04-11 15:41] aldenml commented on #86
No idea, is this torrent popular? are a lot of peers in the swarm?

[2016-04-11 15:45] WhiteTrashLord commented on #86
Yes, more than enough peers. Is there an option to check if Libtorrent can listen on the ports successfully via UPnP?

[2016-04-11 16:09] aldenml commented on #86
I think that is the idea, if there are a lot of peers, eventually you get less and less request of pieces.

Put the corresponding mask and print: `ListenSucceededAlert`, `ListenFailedAlert` and `Portmap*` alerts

[2016-04-11 16:29] WhiteTrashLord commented on #86
How to increase active_limit? It seems to be very important.

[2016-04-11 16:46] aldenml commented on #86
[code]

[2016-04-11 16:56] aldenml commented on #85
@jackwakefield I published 1.1.0.24, this solve the problem of Android 6 in x86 arch. Additional, this is in sync with the just released libtorrent 1.1.0

[2016-04-11 16:56] #85 closed

[2016-04-11 16:57] aldenml commented on #83
@se-bastiaan @diaconuliviu85 I recommend you take a look at https://github.com/frostwire/frostwire-jlibtorrent/issues/85#issuecomment-208448627

[2016-04-11 17:00] aldenml commented on #84
I think the effective way to test this is with advanced android unit tests. I'm working on it, but it could take a while

[2016-04-11 17:02] diaconuliviu85 commented on #83
Thanks .

[2016-04-11 17:06] WhiteTrashLord commented on #86
Thanks. Maybe you should make a method like setActiveLimit(int limit).

[2016-04-11 17:16] #86 closed

[2016-04-11 17:37] se-bastiaan commented on #85
Great work. Thanks for fixing it so fast.

[2016-04-11 21:41] gubatron commented on #86
@WhiteTrashLord here are the settings I use in libtorrent to enable super seeding

[code]

[2016-04-14 04:52] aldenml commented on #80
Closing this for lack of info.

[2016-04-14 04:52] #80 closed

[2016-04-14 05:13] aldenml commented on #84
@cocia This is to much code to translate to a test, it could be in your logic. Could you post a minimal code that replicates the issue or at least post the `adb logcat` of the run on both architectures (I see you are logging the paths).

[2016-04-14 14:50] gubatron commented on #84
I think we can write a simple test that does this @aldenml , if I understand correctly:

1. Set a default save location. (I suppose that can be done in the settings pack)
2. Create a `File saveDir` object with a custom save location.
3. Add a torrent using the `session.asyncAddTorrent(ti, saveDir, priorities, resumeFile);`
4. `assertNotEquals(ti.getSavePath(), defaultSaveDir);`

However, looking a

[2016-04-14 15:09] aldenml commented on #84
The reason I think is in his logic is that there is no default save location.

[2016-04-15 18:00] WhiteTrashLord commented on #86
@gubatron
Thanks but I think your settings are not original Libtorrent settings. Do you use Deluge?

[2016-04-15 18:14] WhiteTrashLord opened #87 "Example for many torrents"
Could you please add an example with optimized settings to handle hundreds of torrents?
I think there was one in the past.

[2016-04-16 03:38] cocia commented on #84
Thank @gubatron and @aldenml . I will try this by your kind suggestion and feedback later.

[2016-04-18 19:30] proninyaroslav opened #88 "Slow decoding in TorrentInfo if the file is not a torrent"
Hello. When creating applications for Android, I didn't do check on the correctness of the torrent file and immediately sent a link to it in TorrentInfo. But I noticed one unpleasant feature: if you accidentally decode a large file (> 10 MB) this operation is very long. I could run the decoding in AsyncTask, but it complicates the application and doesn't solve the problem with TorentInfo. Maybe th

[2016-04-18 19:34] aldenml commented on #88
What version of jlibtorrent are you using? Please, provide the way you are constructing the TorrentInfo.

[2016-04-18 20:04] proninyaroslav commented on #88
@aldenml
Jlibtorrent 1.1.0.24 and jlibtorrent-android 1.1.0.9.
Example of use:

TorrentInfo info = new TorrentInfo(pathToTorrent); /* It's a slow block code */

[2016-04-18 20:05] aldenml commented on #88
Did you close this by mistake?

[2016-04-18 20:06] aldenml commented on #88
in android, you should use 1.1.0.24 too

[2016-04-18 20:08] proninyaroslav commented on #88
@aldenml
Jlibtorrent 1.1.0.24 and jlibtorrent-android 1.1.0.9.
Example of use:

TorrentInfo info = new TorrentInfo(pathToTorrent); /* It's a slow block code */
/* Example */
info.getName() /* It does not affect the rate of */

P.S: I'm sorry, I accidentally closed due to uncomfortable typing on smartphone.

[2016-04-18 20:09] aldenml commented on #88
Ok, let me look at it. It's not clear to me this is something we can improve, since this is a wrapper of the native libtorrent.

[2016-04-18 20:13] proninyaroslav commented on #88
Ok, I'll check and write results.

[2016-04-18 22:50] gubatron commented on #86
yes those are my deluge server settings

On Fri, Apr 15, 2016 at 12:00 PM WhiteTrashLord <notifications@github.com>
wrote:

[2016-04-19 07:44] proninyaroslav commented on #88
No, this doesn't solve the problem.

[2016-04-19 08:34] proninyaroslav commented on #88
I think that the code is a bottleneck in TorrentInfo:
[code]
If a large file, the read speed is reduced, thereby reducing the overall speed.

[2016-04-19 13:42] aldenml commented on #88
Well, this is a hard one. If you are in android, loading 10MB in a `byte[]` will put a lot of pressure to the application, to the point that the OS could kill the app. With the current libtorrent API, I don't see any solution to this problem, `AsyncTask` will not help you here.

I think merkle torrents are the solution to this general problem of "very" big torrents. My only suggestion is check the

[2016-04-19 14:28] proninyaroslav commented on #88
AsyncTask slightly improves UI rendering while decoding, since even when decoding correct torrent file can feel the delay.

[2016-04-19 14:32] aldenml commented on #88
Sure, what I meant is that the `AsyncTask`, while an improvement in the UI, would not prevent a random kill of the process or a general slowdown in any other part of your program.

[2016-04-27 16:19] aldenml commented on #84
Any new info here?

[2016-04-28 01:13] cocia commented on #84
I tested it on other devices, looks OK. So only this one vm has problem. Let me close it first. Thank you.

[2016-04-28 01:13] #84 closed

[2016-05-08 15:33] proninyaroslav opened #89 "Don't call blockFinished() alert if downloading files by priority"
Hello. Problem with the PartialDownload and PartialDownload2 demos: don't show progress. The demos run on Linux. Full log:

_PartialDownload.java_
[code]
_PartialDownload2.java_
[code]

In the DownloadTorrent demo similar problems aren't noticed.

[2016-05-08 15:46] aldenml commented on #89
Hi @proninyaroslav, are the torrents already downloaded? Can you verify that no torrent data is already there before running each one of these demos?

[2016-05-08 16:05] proninyaroslav commented on #89
@aldenml
No. This occurs at the first download and also after the full deleting of the data.

[2016-05-08 17:00] proninyaroslav commented on #89
I replaced CountDownLatch on System.in.read () and obtained the following result:
[code]
The results are displayed after finishing the torrent.

[2016-05-08 17:42] proninyaroslav commented on #89
Another observation: if we remove download priority in the demo (as in DownloadTorrent), a progress is displayed normally.

[2016-05-08 19:08] aldenml commented on #89
Thanks for the information, let me take a look at it.

[2016-05-11 17:55] proninyaroslav commented on #89
A small clarification: blockFinished() is called once at the same time as the torrentFinished() alert.

[2016-05-11 18:35] proninyaroslav commented on #89
I wrote a test code for check, that returns `getProgress()`.
[code]
Normal result (download all files without priority):
[code]

Result for downloading by priority:
[code]
It turns out that throughout downloading `getProgress()` produces 0 and does not cause `blockFinished()` alert. When called `torrentFinished()`, `getProgress()` returns 100 and sharply generated `blockFinished()`.

[2016-05-11 18:37] aldenml commented on #89
`getStatus()` is cached, it's a costly operation (still pending deep review of this issue)

[2016-05-15 10:40] proninyaroslav commented on #89
In version 1.1.0.30 the problem don't discovered. Thank you so much.

[2016-05-15 10:40] #89 closed

[2016-05-27 04:11] gubatron opened #90 "Add Session::prioritize_dht(torrent) support."
from `session_impl.hpp` on libtorrent
[code]

I believe this function could be useful to the seeding process when we seed single files from My Files.

*We should also send a patch
Nonetheless, arvid left a TODO on the implementation code in `session_impl.cpp` that I think we should provide.

He imagines a version of this function that allows you to prioritize a list of torrents to be announced on

[2016-05-27 18:07] aldenml commented on #90
This function is internal and not exported. If we need some logic from libtorrent we should create an issue there.

I'm not sure we have a problem with the `announce` part in the peer creating the torrent, and the `"get the initial peers quickly"` is in the peer downloaders side.

[2016-05-28 03:43] #90 closed

[2016-05-28 10:36] proninyaroslav opened #91 "Async work TorrentPausedAlert and TorrentStatus.isPaused()"
Hello. To pause the torrent I'm using `TorrentHandle.pause()`. But I have noticed one unpleasant feature of the `TorrentStatus.isPaused()`: it doesn't returns `true`, when the `TorrentPausedAlert` (in the` torrentPaused()`) is triggered; `isPaused()` returns `true` in about 100-500 ms after the alert triggering. To update the status in the UI of my application, I have to make an artificial delay o

[2016-05-29 13:15] gubatron opened #92 "crash: libtorrent::ip_filter::access(boost::asio::address) from session_impl::async_add_torrent"
Simplified backtrace:
[code]

Full backtrace
[code]

[2016-05-29 13:28] gubatron commented on #92
think it might be related to new ipv6 code and some newly introduced bug?

[2016-05-29 15:03] aldenml commented on #92
Interesting...this is a new bug I don't know in which commit was introduced.The good news is that I fixed while developing the patch for the x.pe parameter. Upgrading to jlibtorrent 1.1.0.31 should be enough.

[2016-05-29 15:42] #92 closed

[2016-06-18 23:44] WhiteTrashLord opened #93 "Problems with Magnet download"
Whenever I use your new code for the Magnet download, no more Magnet download is possible after some time. Please use a collection which is threadsafe for the LruCache. Currently it's a LinkedHashMap. This might solve my problem. Did you test if you can add hundreds of Magnets URIs within the same session and started by different threads?
And I think with your current code it's impossible to have

[2016-06-19 00:48] gubatron commented on #93
you know what, now that I look around, I don't ever see that Session.MAGNET_CACHE object ever being cleared, nor I see in its implementation any logic that extends `put` to call for the removal of the eldest element if the cache is full.

Not sure if extending a threadsafe collection might help, it just seems to me that we never finished implementing actual LRU caching logic in that class.

am I m

[2016-06-19 00:55] WhiteTrashLord commented on #93
I tested the LruCache. I think it should delete old entries. removeEldestEntry is called by LinkedHashMap as far as I know. But there must be problem somwhere.

[2016-06-19 16:25] aldenml commented on #93
@gubatron `LruCache` overrides `removeEldestEntry`.

@WhiteTrashLord could you provide more specifics about your current logic? When you say that no magnet downloads are possible, does it mean some sort of freeze or that it always timeout? Keep in mind that the way it's coded, under certain usage pattern, you can get to the situation that your magnets are constantly evicted resulting in a timeout

[2016-06-19 20:53] WhiteTrashLord commented on #93
Why do you use a synchronized (MAGNET_LOCK) then? I think in the past you wanted to support Magnet downloads for multiple threads. You did it only halfway?

[2016-06-19 23:01] gubatron commented on #93
@aldenml interesting, so just overriding that method makes a LinkedList behave like an LRU cache.

[2016-06-19 23:03] gubatron commented on #93
@WhiteTrashLord by the use of it, it looks like that lock is unrelated to that MAGNET_CACHE object.

[2016-06-20 01:07] aldenml commented on #93
Yes, the lock is there because we (in frostwire) batch a few fetchs that run in a limited thread pool. We want to protect from a possible concurrent query to the native session. And yes, I want to support that and I didn't finish it with `1.1.X`, maybe for `1.2.X`.

[2016-06-21 18:53] WhiteTrashLord commented on #93
Actually this doesn't make it a real LRU cache.

I thought more about the caching. Now I think that it's a bad idea to cache up to 50 torrents.
Some torrents can be very big. Like around 1 MB. So in a worst case scenario libtorrent would need around 50 MB RAM for the caching all the time. Please replace the 50 items LRUCache with a ConcurrentHashMap where you directly remove the item once it's use

[2016-06-21 19:01] gubatron commented on #93
@aldenml would this be one of those cases where some form "dependency injection" would be wanted, so if you want some different type of caching strategy you plug-it in there with your own implementation, otherwise use the default. is that what they call "dependency injection"?

[2016-06-21 19:13] aldenml commented on #93
@gubatron no, and I believe what you are saying is basic OOP :)

@WhiteTrashLord I'm aware of the memory issue (and some torrents can be a lot more bigger) and I do want to keep them in memory. I can't see how `ConcurrentHashMap` can improve the situation. In any case, my idea is to put the current implementation in the trash and rethink the whole thing, since there are a lot more problems relate

[2016-06-21 19:18] gubatron commented on #93
a memory mapped torrent cache maybe?

[2016-06-21 19:59] WhiteTrashLord commented on #93
When I use my own code for downloading magnets I have no problems. It's very similar to your code but it doesn't use your LRUCache. It would be more developer friendly if you can give us the option to disable this LRUCache. I don't want to use a fork of your code.

[2016-06-21 21:45] gubatron commented on #93
@aldenml do you think it makes sense for now to provide a

`session.enableMagnetCache(boolean enabled)`

method?

[2016-06-21 21:52] aldenml commented on #93
The cache is necessary to avoid registering another callback/listener. I don't like the idea of patching something that is fundamentally broken to start with. @WhiteTrashLord you don't need to fork, just copy paste the relevant code to your own utility class and avoid using our `fetchMagnet`. We provide `swig()` methods in all wrapper classes to allow for any low level workaround. Even `Session` i

[2016-07-01 05:48] gubatron opened #95 "[crash] libtorrent::read_fileop::file_op(int, long long, int, iovec const*, libtorrent::storage_error&)+488"
I believe this is a new crash (build 269)

[code]

[2016-07-01 17:30] aldenml commented on #95
The error is happening for a while now (with a low frequency). I checked again the code in libtorrent, but so far I can't see any obvious crash and it seems like it's in more than one place. I need to report it in libtorrent.

[2016-07-07 21:52] frostwire commented on #95
another instance:

[code]

[2016-07-07 21:53] frostwire commented on #95
and it seems to be another MetroPCS device.

[2016-07-09 00:43] darkfrog26 opened #96 "SOCKS5 Proxying?"
There does not seem to be any support for proxying or at least it's not clearly defined.

[2016-07-12 10:50] onkarshedge opened #97 "Creating trackerless torrent"
I want to create a trackerless torrent which uses DHT. I wrote the code to create a single file torrent and magnet link. Then to test my code I opened the magnet link in my qbittorrent client. It works fine sometimes and sometimes it gets stuck at downloading metadata. Same happened when I share the magnet link with my friends.
I also added various router bootstrap nodes. I read the specifications

[2016-07-12 16:38] gubatron commented on #97
So it's normal that sometimes you won't be able to fetch the magnet, a lot of it depends on the network configuration of you and your friends.

The most common reason for getting stuck there is double NAT issues.
If both of you are behind NATs, and you're the only ones announcing the torrent on the DHT, it will take a miracle to get the data to go through as you will both be announced publicly wit

[2016-07-12 16:42] gubatron commented on #97
oh, and if you get a `PORTMAP_ERROR`, you're most def. firewalled/NATed and will have issues.

[2016-07-12 16:47] gubatron commented on #97
TIP: If you want your alert handling to be more efficient, you can filter-in the alerts you care about here on your alert listener, just put the `ALERT_TYPE.swig()`, values on the returned `int[]` of the `types()` method:
[code]

[2016-07-12 16:48] gubatron commented on #97
Take a look at `BTEngine.java` on the FrostWire source code and you'll learn a lot.

[2016-07-12 17:42] WhiteTrashLord commented on #97
Please tell me in which version the open port detection was improved. Was it made in 1.1.0.35 or earlier?

[2016-07-13 05:32] gubatron commented on #97
`1.1.0.31`

[2016-07-13 05:47] onkarshedge commented on #97
@gubatron Thank you so much.

[2016-07-14 09:08] onkarshedge commented on #97
I had a look at the `BTEngine.java` .  I have some questions. The torrents from previous session are  added to current session by fast resume data. [Link to code](https://github.com/frostwire/frostwire/blob/0f81fac6fc32db6bfdc69c1ac07044d8a19cccda/common/src/main/java/com/frostwire/bittorrent/BTEngine.java#L1015) but `asyncAddTorrent` method from Session.java which calls [addTorrentSupport](https:

[2016-07-14 16:23] gubatron commented on #97
can't remember exactly, but I bet this was code that we had on a branch, or that was private inside jlibtorrent and we sometimes just grab code and override it with modifications for own purposes.

gotta ask @aldenml he has a much better memory than me. Perhaps if you look at the "blame" where that function was added to BTEngine maybe there's a comment there.

That line was commented out on this c

[2016-07-14 16:26] gubatron commented on #97
and then, when I commented that line, it seems it was because I was refactoring to work with magnets
https://github.com/frostwire/frostwire/commit/6ac2bed8bf41475f83f939d6560778dccf5e48e8

[2016-07-15 13:44] cocia opened #98 "How to store data to every single file block by block"
By default, we specific a local file as torrent downloading destination. If that size of file is 1GB, the local file will be 1GB also even there only downloaded 10MB of actual data.

I want to improve the use ratio of storage  in android devices. So I think can jlibtorrent support such feature:
How to store data to every single file block by block. Or somethings similar.

I have seen the interface

[2016-07-16 00:59] gubatron commented on #98
this is because you're using **full allocation**

Read this
http://www.libtorrent.org/manual-ref.html#storage-allocation

[2016-07-16 00:59] #98 closed

[2016-07-16 01:01] gubatron commented on #98
https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/AddTorrentParams.java#L219

[2016-07-17 19:18] aldenml commented on #96
The support should be there at (directly from libtorrent support). Look at `settings_pack`, `proxy_type` and `proxy_port`.

[2016-07-17 19:18] #96 closed

[2016-07-18 11:11] WhiteTrashLord opened #99 "Save path of added torrent with resume data"
I add my torrents with the method Session.addTorrent. I have the problem that the save path in the resume file is used and not the save path in the parameter.
So somehow the flag flag_use_resume_save_path must be enabled ( should be disabled by default according to the Libtorrent documentation ).
In your code I cannot find anything which enables this flag. Is this a Jlibtorrent or Libtorrent probl

[2016-07-18 13:46] aldenml commented on #99
It's a jlibtorrent problem, it is enable if the resume file is passed (https://github.com/frostwire/frostwire-jlibtorrent/blob/libtorrent-RC_1_1/src/main/java/com/frostwire/jlibtorrent/Session.java#L776). I will add another method to allow for your case.

As a note, in master I'm working in removing all these methods from Session and making it more close to the libtorrent one. I will put all this

[2016-07-21 10:36] proninyaroslav opened #100 "Why many methods are not implemented in TorrentStatus?"
Hello. Recently it took me implement in my application displaying active and seeding time. But I found them only in swig `torrent_status` class. In `TorrentStatus` I found only commented-out list with isn't implemented methods:
[code]
Why they haven't been implemented? Maybe it's a technical reason?

[2016-07-21 13:04] aldenml commented on #100
No technical reason, just lack of time. List the fields you need to code it in the next release (should be soon).

[2016-07-21 15:07] proninyaroslav commented on #100
With your permission, I can make patch with the changes.

[2016-07-21 15:09] aldenml commented on #100
Go ahead, PRs are always welcome

[2016-07-21 18:08] #100 closed

[2016-07-22 06:14] onkarshedge commented on #97
@gubatron sorry to disturb you again.
But I am stuck at one part and not able to find solution. I want to seed a file.

I created a torrent of a file(bank.csv) and while adding torrent I added with different output directory. When the file is not present in the new directory, the state of torrent is Downloading, Correct.

`session.addTorrent(torrentFile, outputDir)`

and when, before running my co

[2016-07-22 07:00] onkarshedge commented on #97
This did the trick.

[code]

[2016-07-22 13:37] aldenml commented on #97
Hi @onkarshedge, good to know you solved the problem with the flag. The code line is commented in master(not usable at this moment) because that method will be removed form `Session` anyway. It's fine in `libtorrent-RC_1_1`.  I will notify here when the new stable version is out. Do you think it's ok to close this issue?

[2016-07-22 13:45] aldenml commented on #99
See https://github.com/frostwire/frostwire-jlibtorrent/commit/d16ec5e21b7260dd5a61611e681ecc124fc8c515

I will ping here when the new stable version is out

[2016-07-22 13:45] #99 closed

[2016-07-22 15:45] aldenml commented on #100
1.1.0.36 is out in maven

[2016-07-22 15:45] aldenml commented on #97
1.1.0.36 is out in maven

[2016-07-22 15:45] aldenml commented on #99
1.1.0.36 is out in maven

[2016-07-23 05:35] #97 closed

[2016-07-28 10:17] proninyaroslav opened #104 "How to enable/disable PeX in jlibtorrent?"
I'm a long time reading jlibtorrent's javadoc, but don't quite understand how realized PeX support and how to manage it's state (enable and disable). As far as I know, in libtorrent is realized by adding an extension, but I didn't find in jlibtorrent such possibility.
I would be grateful for any answer.

[2016-07-28 13:12] aldenml commented on #104
The pex plugin is added when passed `add_default_plugins` to the `session` constructor in libtorrent. That flag is set by default and we don't change it, so it's added (and enabled) by default. If you want more control, to disable it for example, you need to go to the `swig.session` class and work with it.

[2016-07-28 14:28] proninyaroslav commented on #104
Thanks for the answer!

[2016-07-28 14:28] #104 closed

[2016-07-29 14:53] aldenml commented on #95
not happening anymore, to be re-openend if needed

[2016-07-29 14:53] #95 closed

[2016-08-01 10:13] #87 closed

[2016-08-13 18:43] proninyaroslav opened #105 "1 session contains 1 handle. It's bad style in terms of performance?"
Hello. I have a question to you, as a more experienced developers of this lib:
I have a lot of torrents in memory (no more 100), each located in a separate thread, and each has its own session. Respectively in each session 1 handle, that supports a single torrent. I did this in order to simplify code, but now I understand that maybe it's not the best way. What can you say on this score?
Thanks in

[2016-08-13 23:01] gubatron commented on #105
yes, this is not the best way. You only need ONE session, and then you can add thousands of torrents to that session, if the torrents are flagged as auto managed then the session will take into account your settings for bandwidth, speed, connections, etc. and manage all the different torrents for you.

All you need is one session.

Cheers!

[2016-08-13 23:01] #105 closed

[2016-08-16 20:19] onkarshedge opened #106 "DHT store"
We can store arbitrary data in the DHT as per the [specification](http://www.bittorrent.org/beps/bep_0044.html) both mutable and immutable.
Can we increase the size to more than 1000 bytes ?

[2016-08-16 21:17] gubatron commented on #106
no you cannot increase the size to more than 1000 bytes. The DHT is not meant for storing data, it's meant to index data. If you want to store data I suggest you use torrents across your clients and use the DHT to point to those torrents.

You can't raise that limit to more than 1000 bytes because this is as much as you can fit per UDP package, the DHT transport layer is UDP.

Another solution wou

[2016-08-16 21:17] #106 closed

[2016-08-23 15:51] gubatron opened #107 "[android/arm/native-crash/SIGSEGV] libtorrent:disk_io_thread::async_hash::piece_manager::boost function disk_io_job"
Seen on FrostWire for Android build 9010296
Android 6.0
DROID Turbo 2 (kinzie)
ABI: arm

[code]

[2016-08-23 16:21] proninyaroslav commented on #107
I have the same problem on Android 4.1 (emulator) in my app
`libc: Fatal signal 11 (SIGSEGV) at 0x00000005 (code=1), thread 6768 (rentTaskService)`

[2016-08-23 16:41] gubatron commented on #107
@proninyaroslav could you paste your entire stack trace?

Do you know of a way to replicate this issue?

[2016-08-23 17:02] proninyaroslav commented on #107
@gubatron
I don't have full stack trace. Error occurs spontaneously and I could not reproduce it. Total I registered 2 cases.

[2016-08-23 23:09] gubatron opened #108 "[android/arm/native-crash] libtorrent:read_fileop::file_op(int, long long, int, iovec const*, libtorrent::storage_error&)+488)"
This one just popped up on FrostWire for Android build 296.
Android: 5.1
Device: LG M1 (m1)

[code]

[2016-08-25 17:53] aldenml commented on #88
Ok, in master you can now memory map the file and try to load it, this solve the problem of slow detection and memory pressure if the file is big and it's not a torrent file. See https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/test/java/com/frostwire/jlibtorrent/demo/ReadTorrent.java#L27

[2016-08-25 17:53] #88 closed

[2016-08-25 18:03] aldenml commented on #93
I'm closing this because there is no more LruCache in master, and `libtorrent-RC_1_1` is only in tracking mode, I think the solution with the new `TorrentManager` is a lot better now.

[2016-08-25 18:03] #93 closed

[2016-08-25 18:03] proninyaroslav commented on #88
@aldenml
Good job!

[2016-08-25 18:53] aldenml commented on #91
You can call status with force: https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/main/java/com/frostwire/jlibtorrent/TorrentHandle.java#L185

[2016-08-25 18:53] #91 closed

[2016-08-25 19:16] proninyaroslav commented on #91
Many thanks.

[2016-08-26 01:02] gubatron commented on #88
wow this is pretty dope:
[code]

[2016-08-26 01:09] gubatron commented on #91
java question: what happens to `th.lastStatus` if `th.stats(true)` is called from multiple threads at the same time? (I know it'd probably wouldn't have a bad effect in this case, but can the thread who asked for this object first lose the reference? or he'll just keep working with that old reference, or do the references get updated across all threads? (I think I need to write a test)

[2016-08-26 01:13] aldenml commented on #91
threads will keep working with the old reference

[2016-08-26 01:17] gubatron commented on #91
thanks

[2016-08-26 01:28] gubatron commented on #88
where is the native code of?
[code]
I want to see into what the `MappedByteBuffer` is converted to, to get to libtorrent land.

[2016-08-26 01:29] aldenml commented on #88
https://github.com/frostwire/frostwire-jlibtorrent/blob/master/swig/libtorrent.i#L89

[2016-08-26 01:30] aldenml commented on #88
after that, https://github.com/frostwire/frostwire-jlibtorrent/blob/master/swig/libtorrent.i#L1006

[2016-08-26 01:30] gubatron commented on #88
`jenv->GetDirectBufferAddress(jbuf)` is that provided by jvm.dll or is yours?

[2016-08-26 01:30] gubatron commented on #88
(just annoyingly curious)

[2016-08-26 01:31] aldenml commented on #88
jvm, I didn't know it either :) I didn't want to use `com.sun.Unsafe`

[2016-09-03 18:27] proninyaroslav opened #109 "listen_on() not found"
Hello. Why not `listen_on()` in swig to set a new session port?

[2016-09-04 10:56] xarrange opened #110 "JLibtorrent and Android Storage Access Framework"
Hi

Is it at least in ToDo list?

[2016-09-04 13:31] aldenml commented on #110
A direct solution to the SAF problem is not in the scope of jlibtorrent, but the good news is that we provide a "posix layer wrapper" that you can install and customize to your needs (only in android). It was created for that problem specifically.  Take a look at https://github.com/frostwire/frostwire/blob/master/android/src/com/frostwire/android/AndroidPlatform.java#L127

[2016-09-04 13:31] #110 closed

[2016-09-04 13:36] aldenml commented on #109
Hi, that function was deprecated a long time ago and we don't expose any deprecated feature. You need to work with `settings_pack.string_types.listen_interfaces`.

[2016-09-04 13:36] #109 closed

[2016-09-27 07:51] proninyaroslav opened #111 "SOCKS and HTTP proxy doesn't work"
Hello. I noticed that the proxy doesn't work with HTTP and UDP trackers. After apply proxy, Session::isListening return false.

[2016-09-27 12:33] aldenml commented on #111
Let me will review that, we don't do anything especial here, we expose whatever `libtorrent` has

[2016-10-05 06:44] mianharisali commented on #110
I was facing same problem , @xarrange can you post your code if you solve it using @aldenml solution.

[2016-10-05 06:51] mianharisali commented on #110
i think this might help.
http://stackoverflow.com/questions/26744842/how-to-use-the-new-sd-card-access-api-presented-for-lollipop

[2016-10-06 15:27] bogdanSumyUa opened #112 "For a file larger that 2GB pieces at the end are not downloaded."
I use jlibtorrent-android-arm 1.1.1.40
When I try to download a file which is more than 2GB pieces at the end are not downloaded at all.
When I try to download only some number of end pieces(using piece priority) an alert listener is spammed by alerts:
Type: FILE_ERROR
What: file_error_alert
Message: torrent_name write (/storage/emulated/0/torrents/file.mp4) error: Invalid argument
Category: 73
Ti

[2016-10-06 16:35] aldenml commented on #112
Thanks for the report, I will test this

[2016-10-06 20:03] gubatron commented on #112
what file system do you have on that sdcard?
does it (the filesystem) support 2GB files?

[2016-10-06 20:45] bogdanSumyUa commented on #112
I've found that sdcard is emulated and internal storage is used. Sdcard uses tmpfs and device uses ext4. I've successfully copied a 2.2GB file on the device. Also I tried to download the torrent using a torrent client(Flud) and it was ok.

[2016-10-06 21:35] gubatron commented on #112
excellent, we can discard that being the issue now :)

[2016-10-07 12:24] bogdanSumyUa commented on #112
Hi guys. I've created a demo app https://github.com/bogdanSumyUa/LibtorrentTest using which you can try to reproduce the issue.
When DOWNLOAD_FROM = 1040 and DOWNLOAD_TO = 1049 pieces from this interval are not downloaded at all and I see a lot of file_error and torrent_error alerts.
However when DOWNLOAD_FROM = 540 and DOWNLOAD_TO = 549 pieces from this interval are downloading but sometimes I st

[2016-10-07 15:44] proninyaroslav commented on #111
@aldenml
Is it possible to solve this problem?

[2016-10-07 16:24] aldenml commented on #112
Thanks! I can't give you an ETA, but I will look at it soon

[2016-10-07 16:26] aldenml commented on #111
Hi, I was very busy with a crash I in master. I can't give you an ETA, but I will look at it soon

[2016-10-11 13:08] monkeycz opened #113 "Add https url seed, the alert hint 'unsupported URL protocol'"
Why remove the '-DTORRENT_USE_OPENSSL' from run-swig.sh?

[2016-10-11 14:15] aldenml commented on #113
Because we don't support torrents over ssl any more. Now, in the process of removing the dependency of `libssl` you loose the support for internal HTTPS request, but it seems like a reasonable compromise since web seeds don't need to use SSL. This results in a significant space save in the final binary, while still having `libcrypto` for fast hashing.

[2016-10-11 14:25] aldenml commented on #112
Well, I have the feeling that this has to do with the "posix wrap" I do for android. I didn't consider the `stat64` posix call and it could be a problem. I'm testing with a solution in master, and if it works, I strongly recommend you to switch to it. But still I did fully test, this is just an update.

[2016-10-11 21:43] aldenml commented on #111
Hi @proninyaroslav, I tested it lightly with HTTP proxy and it seems to work. Can you post some example of how to reproduce your problem? To be honest, I'm not very familiar with how `libtorrent` handles the proxy for trackers.

[2016-10-11 21:50] gubatron commented on #111
I wonder if it's just that libtorrent doesn't support reverse port forwarding on SOCKS.

Reading on the internet:

"Most folks associate SOCKS with outbound connections only. Did you know, it’s also possible to use SOCKS for inbound connections as well?

The SOCKS specification has a `BIND` command. This command creates a listening socket on the far end and binds it to a specific port. It then wai

[2016-10-12 05:05] monkeycz commented on #113
thx

[2016-10-12 05:05] #113 closed

[2016-10-12 15:46] proninyaroslav commented on #111
@aldenml
I tried to run including as example of frostwire app.
It may be the case in a proxy servers, but I can't work with the Tor connection (using Orbot).

[2016-10-19 12:58] bogdanSumyUa commented on #112
Cool, thank you.

[2016-10-24 09:13] alicemmm opened #114 "Download file size is large than real size"
I want to know the real file size and downloading file size.
for example:
                    downloadSize = torrentHandle.status().totalWantedDone();
but It's update so slowly.

How can I get the real file downloaded size not total downloaded size?

[2016-10-24 12:22] aldenml commented on #114
There is a `TorrentHandle#status(boolean force)` to force the update.
For the real file size, you have the torrent info, and for the real file downloaded size, take a look at `TorrentHandle#getFileProgress`

[2016-10-25 07:48] alicemmm commented on #114
Thanks a lot !,I get the real torrent file size via TorrentHandle#getFileProgress,but if pause then resume TorrentHandle#getFileProgress get a smaller size than before

[2016-10-25 07:51] alicemmm opened #115 "SettingsPack activeDownloads is useless"
When use SettingsPack.activeDownloads(4) method .I can download more than 4 download tasks in queue. It's unused.

[2016-10-25 12:21] aldenml commented on #114
strange, I will take a look at it

[2016-10-25 12:22] aldenml commented on #115
You need to call `SessionHandle#applySettings`. Do you?

[2016-10-26 06:46] alicemmm commented on #115
Yes of cause.show my code

SettingsPack sp = settings();
sp.broadcastLSD(true);
sp.enableDht(false);
int maxQueuedDiskBytes = sp.maxQueuedDiskBytes();
sp.maxQueuedDiskBytes(maxQueuedDiskBytes / 2);
 int sendBufferWatermark = sp.sendBufferWatermark();
sp.sendBufferWatermark(sendBufferWatermark / 2);
sp.cacheSize(256);
sp.activeDownloads(4);
sp.activeSeeds(4);
sp.maxPeerlistSize(200);
sp.tickInterva

[2016-10-26 20:07] aldenml commented on #115
it works pretty well for us, you need to be sure your torrents are marked as "auto managed"

[2016-10-26 22:35] gubatron commented on #115
question: are you serializing your settings to a file?
If you're not actually constructing your Settings object like in the code above, you might be hurting yourself by doing stuff like this:

`sp.maxQueuedDiskBytes(maxQueuedDiskBytes / 2);`

[2016-10-27 01:55] alicemmm commented on #115
great ! I don't set auto manage in resume and pause. now It's ok ,thanks a lot.

[2016-10-27 12:41] se-bastiaan opened #116 "Fatal SIGSEGV on Android"
While testing my torrentstream library I encountered this crash. Not sure if this is something in jlibtorrent (the trace makes me think that it is not) or libtorrent itself, but I figured posting it here wouldn't do any harm.

jlibtorrent 1.2.0.0 on Android 6.0.1. ARM64, OnePlus3.

[code]

[2016-10-27 12:42] aldenml commented on #116
Thanks, we are fighting with this problem here https://github.com/arvidn/libtorrent/issues/1225

[2016-10-27 12:44] aldenml commented on #116
Are you able to reproduce the crash? That would be very helpful

[2016-10-27 12:54] se-bastiaan commented on #116
Not so far. I wasn't really paying attention when this happened. Although, the environment isn't changing except for other apps doing work in the background. The phone wasn't doing much else than downloading that specific torrent.

[2016-10-27 14:21] proninyaroslav opened #117 "[Android, 1.1.1.37] java.util.concurrent.TimeoutException"
Hello. If keep app in the background (in service), then it crashes. I get feedback from users who are sometimes found with a similar problem. Android version 4.0 - 6.0, jlibtorrent version 1.1.1.37.

logs

[code]

[code]

[2016-10-27 14:48] aldenml commented on #117
Hi @proninyaroslav , this is an old version, please, consider updating to `1.1.1.40` if you want to stay in `RC_1_1` of libtorrent branch, but we are moving towards `1.2.0.X` to track libtorrent's `master`.

[2016-10-27 14:57] proninyaroslav commented on #117
I have the same problem in 1.1.1.40. When about to be released 1.2.0?

[2016-10-27 14:58] aldenml commented on #117
Fixing a subtle/major bug in `libtorrent` master, but `1.2.0.0` is already out

[2016-10-31 14:21] aldenml commented on #116
It's fixed for us with `1.2.0.1`, give it a try and reopen if needed. Thanks for the reporting.

[2016-10-31 14:21] #116 closed

[2016-10-31 14:21] #115 closed

[2016-10-31 14:23] aldenml commented on #108
Not happening with latest version `1.2.0.1`, to reopen if necessary.

[2016-10-31 14:23] #108 closed

[2016-10-31 14:24] aldenml commented on #107
Not happening with latest version `1.2.0.1`, to reopen if necessary.

[2016-10-31 14:24] #107 closed

[2016-10-31 15:13] aldenml commented on #112
Hi @bogdanSumyUa , can you test with `1.2.0.1`? the `1.1.x.x` is in the process of being phased out

[2016-10-31 15:25] bogdanSumyUa commented on #112
Hi @aldenml , sure. I'll update my demo app to use 1.2.0.1.

[2016-11-01 10:26] bogdanSumyUa commented on #112
I've updated my demo app to use 1.2.0.1. Looks like the issue is gone. But with it I have an issue that TorrentStatus.swig().getPieces() returns a bitfield with all 0 bits and it's impossible to know what pieces have been downloaded. Shold I file another issue for this?

[2016-11-01 12:47] aldenml commented on #112
Very good and yes, I will close this one and you open another one for the `getPieces` issue. Thanks

[2016-11-01 12:47] #112 closed

[2016-11-01 19:37] bogdanSumyUa opened #118 "TorrentStatus.swig().getPieces() returns a bitfield with all zeros."
TorrentStatus.swig().getPieces() returns a bitfield with all 0 bits. However TorrentHandle.havePiece(int i) works fine. Tested on Android using com.frostwire:jlibtorrent:1.2.0.1 and com.frostwire:jlibtorrent-android-arm:1.2.0.1.

[2016-11-01 19:45] aldenml commented on #118
To be fixed on `1.2.0.2` with https://github.com/frostwire/frostwire-jlibtorrent/commit/9cbd6dc92bd9f36dce9595843cb86a8d9d89737c

In the meantime you can call directly the status to the swig object with the right flags.

[2016-11-03 06:00] xiongke15117937934 opened #119 "Protocol problem"
Ask, why not support HTTPS？

[2016-11-03 09:01] xiongke15117937934 opened #120 "Android"
Can not release new features to support HTTPS

[2016-11-03 12:29] aldenml commented on #119
Because that's a not very used feature (Torrents over SSL) that requieres a lot of software infrastructure.

[2016-11-03 12:29] #119 closed

[2016-11-03 12:30] aldenml commented on #120
Not at this moment, but document your use case for consideration.

[2016-11-03 12:30] #120 closed

[2016-11-03 16:07] aldenml commented on #118
@bogdanSumyUa test `1.2.0.2` and let us know. Thanks

[2016-11-03 16:09] aldenml commented on #117
Still a problem? `1.2.0.2` is out

[2016-11-03 16:10] aldenml commented on #111
Any new status here?

[2016-11-04 01:24] xiongke15117937934 commented on #119
But I need to download the seed through the HTTPS request, what should I do? (it's better to use the latest version, I know that the 1.1.4 version can be, but the latest version will not be upgraded.

[2016-11-04 01:27] aldenml commented on #119
Could you explain a little more? what exactly is "download the seed through the HTTPS request"?

[2016-11-04 02:11] gubatron commented on #119
If you need to make an `https://` URL request to download a `.torrent` file you can use the JRE's http client, or Apache components.

[2016-11-04 03:01] aldenml commented on #119
What do you have in your server? the torrent? or a web seed?

[2016-11-04 03:04] xiongke15117937934 commented on #119
Is a seed

[2016-11-04 03:09] aldenml commented on #119
if you don't use the torrent over ssl feature, why don't switch the web seed to regular HTTPS? it will save you bandwidth and CPU, the integrity of the data is guarantee by the info-hash.

[2016-11-04 03:12] xiongke15117937934 commented on #119
Very grateful, I can only use the 1.1.04 version of the jlibtorrent, the intention to update the jlibtorrent to 1.2.0.1.

[2016-11-04 10:18] xiongke15117937934 commented on #119
If you are using the latest version of the library that you can not use the HTTPS, the latest version of the library and jlibtorrent 1.1.04, what is the difference?

[2016-11-04 10:30] xiongke15117937934 opened #121 "1.2 HTTP HTTPS Config"
Why do I use Travis CI to run your project does not generate the jar file of the project, I am very curious, do not understand, hope to be able to explain, this code can make -DTORRENT_USE_OPENSSL=1 your project support Https? My boss told me I should do so, we would like to use the latest version of the code, to run our the project.

[2016-11-04 16:18] aldenml commented on #119
The difference is that in libtorrent master now it's possible to drop the `ssl` integration and still keep the `libcrypto` for the fast SHA1, that's all we need

[2016-11-04 16:23] aldenml commented on #121
The jars are generated locally with `gradle jars`. In order to get support for ssl put `on` on this line https://github.com/frostwire/frostwire-jlibtorrent/blob/master/swig/Jamfile#L27, but I repeat, I don't think you really need HTTPS web seeds if you don't use the feature of Torrents over SSL as in here http://blog.libtorrent.org/2012/01/bittorrent-over-ssl/

[2016-11-04 16:23] #121 closed

[2016-11-05 15:45] xiongke15117937934 commented on #121
Local production jar files, keep the production.so file?? So that it can be the latest edition to support HTTPS requests?

[2016-11-05 15:55] xiongke15117937934 commented on #121
The result + = < SSL > off; Change the result + = < SSL > on; In the local compile the generated JAR file will support HTTPS?

[2016-11-07 01:44] xiongke15117937934 opened #122 "The latest version of the library, HTTPS configuration?"
According to the way you say, can only produce the latest version of the jar, but there is no so library jar package, how to do? Https://github.com/frostwire/frostwire-jlibtorrent/issues/121

[2016-11-07 01:52] aldenml commented on #122
You need to read the `README.md` file to know how to produce the binaries, after that, if you look at the script `swig/get-binaries.sh` you will know where to place them, then you run `gradle jar` and that's it.

I recognize that the documentation is very lacking in how to produce and distribute a version, but that takes time and it's not in our priority list. I appreciate if next time you come he

[2016-11-07 01:52] #122 closed

[2016-11-07 03:23] xiongke15117937934 commented on #122
thank you very munch

[2016-11-07 10:52] bogdanSumyUa commented on #118
The issue is not reproducible usingTorrentHandle.StatusFlags.QUERY_PIECES.swig() flag in a call to TorrentHandle.status().

[2016-11-07 11:49] mianharisali commented on #118
@aldenml issue is still there , its empty in 1.2.0.2

[2016-11-07 13:41] aldenml commented on #118
Hi @mianharisali, are you using `TorrentHandle.StatusFlags.QUERY_PIECES.swig()` in the new `TorrentHandle#status(long flags)`?

[2016-11-07 13:42] mianharisali commented on #118
@aldenml its working with that flag.
but without that flag it is not working.

[2016-11-07 13:43] aldenml commented on #118
Good, that's the expected behavior. Filling that field is an expensive operation, it's only done on explicit request. Check out the `libtorrent` documentation too.

[2016-11-07 13:43] #118 closed

[2016-11-07 16:01] aldenml commented on #117
I will close this since it's not happening to us with latest version. Feel free to reopen if you keep getting the error. Ideally you should be able to submit a way to reproduce it.

[2016-11-08 10:47] xiongke15117937934 opened #123 "Can you help me solve the problem of a build? Is to build your library, the problems encountered"
https://travis-ci.org/xiongke15117937934/frostwire-jlibtorrent/builds/174166348

[2016-11-08 15:13] aldenml commented on #123
The error you are getting is in the deploy stage, copying the travis produced binaries to the S3 bucket. Review your configuration and credentials in S3 and make sure you are following the instructions step by step in `README.md`.

I recommend you reading more about travis and S3 deploy here: https://docs.travis-ci.com/user/deployment/s3/

I see you changed a line to `provider: releases`, not sure

[2016-11-08 15:13] #123 closed

[2016-11-09 06:07] xiongke15117937934 opened #124 "I want to know the latest version of the library, how to configure HTTPS protocol?"
Now build is successful, configure the HTTPS protocol or fail, I want to know how to configure?

[2016-11-09 06:14] xiongke15117937934 commented on #124
Hope to be able to say specific point

[2016-11-09 07:06] xiongke15117937934 commented on #124
I build links attached. https://travis-ci.org/xiongke15117937934/frostwire-jlibtorrent/builds/174419158

[2016-11-09 08:39] xiongke15117937934 opened #125 "In that version delete HTTPS?"
In that version delete HTTPS?

[2016-11-09 08:40] xiongke15117937934 commented on #125
Really sorry I am a novice, don't get that trouble

[2016-11-09 09:12] #125 closed

[2016-11-09 18:48] aldenml commented on #124
now we are talking :)

Well, I think the problem now is the way I configure the compilation of openssl, if you look at the `.travis.xml` (https://github.com/frostwire/frostwire-jlibtorrent/blob/master/.travis.yml#L115) I remove a lot of features, try to remove that and let me know what happens

[2016-11-10 00:56] xiongke15117937934 commented on #124
What I use is and you the same configuration, specific how should be I configuration, can open the HTTPS requests?Now this is the problem that gives me a headache, because I only read your configuration file.

[2016-11-10 02:14] xiongke15117937934 commented on #124
https://travis-ci.org/xiongke15117937934/frostwire-jlibtorrent/builds/174663772
https://github.com/xiongke15117937934/frostwire-jlibtorrent/blob/master/.travis.yml
This is the result of the I deleted after, what to do next?

[2016-11-10 02:23] xiongke15117937934 commented on #124
这个是删除其中带SSL的选项最后结果，不知道这样可行不？
https://travis-ci.org/xiongke15117937934/frostwire-jlibtorrent/builds/174662246

[2016-11-10 02:24] xiongke15117937934 commented on #124
This is to remove the option with SSL final results, don't know this is feasible?
https://travis-ci.org/xiongke15117937934/frostwire-jlibtorrent/builds/174662246

[2016-11-10 15:34] aldenml commented on #124
Let me take a deep look at it to see what's happening

[2016-11-11 02:04] xiongke15117937934 commented on #124
This is wrong link: https://travis-ci.org/xiongke15117937934/frostwire-jlibtorrent/builds/174699352

[2016-11-11 02:06] aldenml commented on #124
Apparently there is a problem in the build of openssl, I will take a look at it soon

[2016-11-11 02:42] xiongke15117937934 commented on #124
Yes, I want to be able to solve it.

[2016-11-11 03:19] xiongke15117937934 commented on #124
If only the OpenSSL build has a problem, hope you can send me the correct configuration of the building code.

[2016-11-11 04:03] xiongke15117937934 commented on #124
Ask, control switch is in jlibtorrent HTTPS code, rather than in libtorrent is?

[2016-11-11 05:06] aldenml commented on #124
Ok, the build is fine with this commit https://github.com/aldenml/frostwire-jlibtorrent/commit/44c06a9c7482c38a25c8db117df186e12c2d441c

the critical point for arm is the addition of `-fno-integrated-as`

I don't understand your last question btw

[2016-11-11 07:10] xiongke15117937934 commented on #124
I feel the OpenSSL configuration or have a question, you said I am testing my application the download speed is very slow, can you help me?

[2016-11-11 07:29] xiongke15117937934 commented on #124
Thank you very much, in accordance with your other way is a success, and can be downloaded, but I wonder is there a better openSSL configuration?

[2016-11-11 15:55] aldenml commented on #124
Good

[2016-11-11 15:55] #124 closed

[2016-11-14 10:23] mianharisali opened #127 "Fatal signal 11 , randomly appears if we get bitfield of pieces."
11-14 15:09:48.541 18793-19162/com.example.bilalkhalid.torrentdownloadsample A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x198 in tid 19162 (Thread-7)

                                                                                     [ 11-14 15:09:48.541   377:  377 W/         ]
                                                                                     debuggerd: handling re

[2016-11-14 10:35] mianharisali opened #128 "Trackers List is Empty if torrent is added using magnet uri."
i am trying to get trackers , but when we add torrent using magnet uri , the trackers list comes empty.

[2016-11-14 11:00] mianharisali commented on #127
i just tested , it occurs when we have high number of pieces.
last crash was with 14000 pieces.

[2016-11-14 13:30] aldenml commented on #127
What version of `jlibtorrent` is this?

[2016-11-14 13:33] mianharisali commented on #127
1.2.0.2

it crashed on 5000 pieces too , real strange.

[2016-11-14 13:35] aldenml commented on #127
strange indeed, let me review this

[2016-11-14 13:36] aldenml commented on #128
I will test this

[2016-11-14 13:37] mianharisali commented on #127
it appears randomly on 5000 pieces , but on 14000 pieces it just crashes.

[2016-11-14 14:14] aldenml commented on #127
is your project open source? I would like to take a look at it

[2016-11-15 04:13] aldenml commented on #128
If you try this code, aren't you able to get the trackers?
[code]

[2016-11-15 08:19] mianharisali commented on #127
its not open source , but i just tested it same code works well on 1.1.1.40

[2016-11-15 08:21] mianharisali commented on #128
i will try this code ,
but the torrent is being downloaded(added via magnet) in a session i think it should give tracker list using th.trackers();

[2016-11-15 08:29] mianharisali commented on #128
th.trackers(); is working perfect on 1.1.1.40

[2016-11-15 17:49] gubatron commented on #127
I know some changes were done to use bitfield CPU op extensions for 1.2 for some architectures, on what CPU architecture are you getting this crash? (can't see it on the crash report)

[2016-11-15 18:08] aldenml commented on #127
[code]

[2016-11-15 19:59] gubatron commented on #127
ha, so it's probably related to NEON?
gotta add that stress test unit test case.

@mianharisali what is the (min) piece size you have when you perform your 14k piece test?
[so I can build a torrent and test over here]

[2016-11-15 20:36] aldenml commented on #128
I tested the feature and I can confirm that `TorrentHandle#trackers()` works as expected. I will close the issue but if you put some code to reproduce the problem, I can take a look at it.

[2016-11-15 20:36] #128 closed

[2016-11-16 06:15] mianharisali commented on #127
here are the details.
14035 X 16.4Kb

[2016-11-16 12:32] gubatron commented on #127
Thank you!

[2016-11-16 19:40] aldenml commented on #127
internally when you get the `pieces` bitfield, what are you getting is a reference to the field in the `torrent_status`. If the `torrent_status` is garbage collected, you will end up with an reference and crash. Can you post the relevant code to see the pattern you are using?

[2016-11-17 08:12] mianharisali commented on #127
@gubatron sorry this was the correct information.
14035 X 4.2Mb

[2016-11-17 08:13] mianharisali commented on #127
@aldenml
`public boolean[] getPiecesDownloadInfo(String infoHash) {

        Bitfield bitF = session.find(new Sha1Hash(infoHash)).status().pieces();
        int size = bitF.swig().size();

        boolean[] bolList = new boolean[bitF.swig().size()];
        for (int i = 0; i < size; i++) {
            bolList[i]=(bitF.swig().get_bit(i));
        }
        return bolList;
    }`

[2016-11-17 08:19] mianharisali commented on #128
@aldenml just a noob question , can this be due to trackerless torrent?

[2016-11-17 13:27] aldenml commented on #128
has the magnet link tracker parameters (`&tr=<url>`)? I think trackless torrent is just a way to say that the peers are discovered only via DHT (and they don't have a list of trackers to discover the swarm).

[2016-11-17 13:30] aldenml commented on #127
as I imagine, once you get the `bitF`, the TorrentStatus is free to be GCed. This should be fixed with https://github.com/frostwire/frostwire-jlibtorrent/commit/7cda563cf4fe141e2b5d7bbd983370c238ba0885 in the next version

[2016-11-17 13:31] aldenml commented on #127
In the meantime, try to keep a reference to the torrent status and perform a dummy operation on it just before the `return` (to prevent that it's removed by optimizations)

[2016-11-17 16:11] mianharisali commented on #127
@aldenml  thanks :) , i will try that.

[2016-11-21 15:47] dessalines opened #129 "Crawling the DHT with jlibtorrent."
I know that the DHT can get me a list of peers from my torrents' infohashes, but is there a way to basically get a list of infohashes that my DHT peers are announcing? Is it maybe the `DHTAnnounceAlert`?

Then possibly, add the info-hashes in a no-download state to get the name, seeders, leechers, etc?

[2016-11-21 15:53] aldenml commented on #129
Not sure what exactly do you want. Don't you know/control the info hashes that are loaded in the sessions? or are your peers special? Do you want to load a torrent in a no-download state in a peer different from the one is announced?

[2016-11-21 16:07] dessalines commented on #129
My goal is a DHT crawler, basically I want to get info/metadata on all the torrents my peers are announcing, stuff like torrent name, infohash, seeders/leechers, without actually downloading what my peers are announcing.

My problem is that I don't know if there is a way to pick up this information. I know that I can call dht.getPeers on torrents that I've already loaded, but I don't know if there

[2016-11-21 16:13] aldenml commented on #129
I think there is no way you can listen to DHT announces of other peers in a generic way, maybe you can resort to some hacking with the plugins (and probably require some custom C++ compilation) to listen to specific clients.

You can add an info hash in a non-download state, but without active download/activity, I'm not sure how the stats are filled. I think you should ask these in the libtorrent

[2016-11-21 16:15] dessalines commented on #129
Ah, I think I understand. I will only receive DHT alerts if I already have that torrent in my session. I'll do this, thanks.

[2016-11-21 16:36] dessalines commented on #129
Ah, for some reason I assumed DHT crawlers were possible, sites like [btdigg](https://en.wikipedia.org/wiki/BTDigg) seem to do it somehow.

[2016-11-21 16:46] gubatron commented on #129
the only way I can think of is what @aldenml mentioned.

Here's a pseudo algo for a best effort approach, you're not really creating a crawler, but a catching net:

1. listen to every dht_announce alert.
2. fetch that infohash if you haven't already
3. connect to every peer on that swarm and ask for their peers to repeat cycle

it's very much a passive catching net, it only crawls network nodes, b

[2016-11-21 19:17] proninyaroslav opened #130 "New behavior of activeDuration() and seedingDuration()"
Before replacing `activeTime()` and `seedingTime()` to `activeDuration()` and `seedingDuration()`, time was total, regardless of stopping torrent, but now if I use this function I get a new time, relativity for new session rather than total time. Whether new behavior normal? is it possible to realize old behavior?

[2016-11-21 19:19] aldenml commented on #130
I need to look at it...(we do track the latest API changes)

[2016-11-22 05:02] alex-druzhinin commented on #111
Hi! When using UDP trackers with SOCKS5 proxy I see only CONNECT and BIND commands, and no ASSOCIATE.
Are you using last version of the libtorrent? They did have this bug in old versions.
Current version in github looks good - https://github.com/arvidn/libtorrent/blob/master/src/udp_socket.cpp

[2016-11-23 17:17] tjo opened #131 "Corrupt torrent file generated intermittently on Mac OSX"
When generating a torrent file on Mac OSX, the tracker URL gets intermittently corrupted resulting in invalid torrent file. Tested with builds 12.2.0.2 and 12.2.0.4. Build 1.1.1.40 works fine.

[2016-11-23 17:42] aldenml commented on #131
it may be related to the new use of `string_view`, can you post a piece of code that we can use to reproduce the crash?

[2016-11-24 10:14] tjo commented on #131
Very simple torrent file generation:

[code]

[test.bin.torrent.zip](https://github.com/frostwire/frostwire-jlibtorrent/files/611006/test.bin.torrent.zip)

[2016-11-24 10:22] BillalGene opened #132 "Torrents download with SAF not working"
Torrents files are not creating on SD Card. We try to set LollypopFileSystem wrapper before session start but it does not work. Please tell us where we are wrong. Sample code is given bellow

 if (Build.VERSION.SDK_INT >= 21) {
                    LollipopFileSystem lollipopFileSystem = new LollipopFileSystem(getApplication());
                    LibTorrent.setPosixWrapper(new PosixCalls(lollipop

[2016-11-24 16:20] aldenml commented on #132
Sorry, but android SAF support is out of scope in this project. We do provide minimal support for a "posix layer" in android, but not more. What are you using is from https://github.com/frostwire/frostwire, and that's not prepared for third party use, but I can tell you that torrent creation in SAF does not work at this moment. Coding help is welcome

[2016-11-24 16:20] #132 closed

[2016-11-24 16:21] aldenml commented on #131
good to know that you are using `TorrentBuilder`, I will take a look at it (but can't give you ETA).

[2016-12-04 16:14] proninyaroslav commented on #132
@aldenml
Is there a workaround for download torrents on the external storage (with SAF)?

[2016-12-04 17:49] aldenml commented on #132
The only workaround we have is the one used in frostwire (using the posix wrapper). The reason we didn't bring the feature here is because that solution still is very experimental.

[2016-12-05 15:56] aldenml commented on #130
I looked at the code, and it all seems to be the same, only that now, the time (in java) is in milliseconds.

[2016-12-05 16:00] proninyaroslav commented on #130
Yes, but active and seeding time is not saved in resume file. Before I didn't observe this behavior.

[2016-12-05 16:08] aldenml commented on #130
can you post a resume file that does not have these fields?

[2016-12-05 16:20] proninyaroslav commented on #130
field is available, but for some reason after shutdown and start session every time I get a new value (old reset).

[2016-12-05 16:23] aldenml commented on #130
hmm...hard to say...it could be a problem with the logic loading the resume data. Are you using `SessionManager`?

[2016-12-05 16:25] proninyaroslav commented on #130
Yes.

[2016-12-05 16:29] aldenml commented on #131
I detected a fundamental problem with `string_view` and the swig code. I'm working on it

[2016-12-07 15:38] dessalines opened #133 "Tracker scrape problems, getting seeder and leecher counts for torrents."
Hey, I'm having an issue with tracker scraping. I'm wanting to get seeding/leeching counts from the first successful tracker reply(that's the only way I can think of, since an `ANNOUNCE_REPLY_ALERT` only seems to give `numPeers()`. I call `scrapeTracker()`, on every torrent added to my session, but for some reason, it only scrapes the first 3 or 4 torrents in queue.

[code]

I've also had to add a

[2016-12-07 21:59] gubatron commented on #133
tried unpausing them and seeing if `scrapeTracker()` gets called automatically once active?

The idea of pausing is to basically not be part of the swarm and minimize all network activity for that torrent. I believe it behaves like this by design. If a torrent is paused it should always return 0 on all those things, as it's paused.

[2016-12-07 22:36] dessalines commented on #133
Cool, I'll try this when I get home later. Are tracker scrapes automatic for resumed torrents? I remember trying this, but not seeing any scrapes for them.

[2016-12-08 04:56] dessalines opened #134 "new TorrentInfo(File) creates a false creationDate"
I've noticed that when using `new TorrentInfo(File)`, it creates a bad creationDate, set to the current timestamp. I've notice that on a lot of torrents, creationDates are 0 (I think denoting optional).

Using either `TorrentInfo.bdecode` or `Entry.bdecode` provide the right results.

[2016-12-08 15:00] proninyaroslav commented on #117
I still sometimes get this error when trying to shutdown the app. This doesn't happen often and this error is difficult to track.
My code:
@Override
[code]
I stop session at `onDestroy()` method in service.

[2016-12-08 15:14] aldenml commented on #134
I will take a look at it

[2016-12-08 15:48] aldenml commented on #117
version?

[2016-12-08 15:51] proninyaroslav commented on #117
1.2.0.4.

[2016-12-08 18:21] dessalines commented on #133
I'll close this out, I've found that tracker scrapes are unreliable for getting peer counts.

Better options are turning out to be:

[code]

`alert.numIncomplete()` and `alert.numComplete()` are the tracker scrape counts, and they are almost always -1, as tracker scrapes seem to never get called, unless explicitly.

With `listPeers` seeming to be the most reliable.

[2016-12-08 18:21] #133 closed

[2016-12-09 05:09] dessalines opened #135 "Fetching magnets always timing out."
I can't seem to get the fetch magnet demo working from [FetchMagnetTest.java](https://github.com/frostwire/frostwire-jlibtorrent/blob/master/src/test/java/com/frostwire/jlibtorrent/FetchMagnetTest.java), it always times out. I've tried other popular magnet links, and they also don't work, but I know they have to be working somehow, because they are retrieved relatively quickly when I add them with

[2016-12-09 05:51] dessalines commented on #135
Never mind, nix that. It was a really strange issue where for some reason if I surrounded my `session.addListener(myAlerts())` within a try / catch, then metadata would never be received.

[2016-12-09 05:51] #135 closed

[2016-12-13 08:53] mianharisali commented on #127
@aldenml i tried that , it does not work all the time , it still crashes.

[2016-12-13 11:47] mianharisali opened #136 "Trackers List is Empty if torrent is added using magnet uri."
I tried every thing but the tracker list is empty if torrent is added using magnet uri.
you can test it on this open source project.

https://github.com/proninyaroslav/libretorrent

may be this issue is related to following issue.

#https://github.com/frostwire/frostwire/issues/294

[2016-12-14 17:36] mianharisali commented on #127
@aldenml any update when the next update will come?

[2016-12-14 17:42] aldenml commented on #127
I was waiting for some commits in `libtorrent` (the merge from branch `RC_1_1`) but I think I can't delay it anymore.

[2016-12-14 17:46] mianharisali commented on #127
@aldenml great , we are working on a app , and i think we have some more issues to report. but we are making sure that everything is fine on our end. i was thinking that may be next version will resolve a lot of things.

[2016-12-14 20:38] aldenml commented on #114
Did you tested using `FileProgressFlags#PIECE_GRANULARITY`?

[2016-12-14 20:42] aldenml commented on #117
What class are you using to handle the session? Is it `SessionManager`?

[2016-12-14 21:02] aldenml commented on #134
What version of `jlibtorrent` are you using?

[2016-12-14 21:05] aldenml commented on #136
I doubt this is the same problem. Can you give me a link to the source code I can see how to you retrieve the tracker list?

[2016-12-14 22:29] dessalines commented on #134
`1.2.0.4` . It looks like creationDates are an optional field, and I've found that jlibtorrent will either set the creationDate to the current unix date, or to 0.

[2016-12-15 06:45] mianharisali commented on #136
[code]

[2016-12-15 06:45] mianharisali commented on #136
https://github.com/proninyaroslav/libretorrent/blob/master/app/src/main/java/org/proninyaroslav/libretorrent/core/TorrentDownload.java

[2016-12-15 08:13] proninyaroslav commented on #117
@aldenml
Yes, it's `SessionManager`.

[2016-12-15 17:15] gubatron opened #137 "[enhancement] TorrentStats #WIP"
After some conversations, we believe it will be of the benefit of all the jlibtorrent users to have a simple and memory efficient Stats Provider tool so that they can create things like download, upload, download + upload, and disk cache graphs on their BitTorrent clients or BitTorrent based back ends, to visually monitor performance.

This will also help us benchmark jlibtorrent's performance on

[2016-12-15 19:43] aldenml commented on #117
I think that since you are calling `engine.stop()` directly in `onDestroy()` you are getting an ANR. Could you confirm if this is indeed the crash?

[2016-12-15 20:03] aldenml commented on #136
You know, I just found the same flaw in our client, but there is nothing wrong with `jlibtorrent`, it does what's supposed to do, if you fetch magnet, it returns the info-dict from the DHT, and that info does not include trackers. You need parse the magnet link and enhance your `TorrentInfo`, that I assume you decode from the data returned from `fetchMagnet`.

[2016-12-15 21:59] aldenml commented on #136
I need to confirm this

[2016-12-15 22:06] aldenml commented on #136
yes, confirmed, internally in `libtorrent` the trackers are not added to the torrent info used to create the info-dict data, and that's ok

[2016-12-15 23:09] aldenml commented on #136
Ok, in the next release (soon) you will be able to call `SessionManager#fetchMagnet(String uri, int timeout, boolean extra)` and it will give you the trackers.

https://github.com/frostwire/frostwire-jlibtorrent/commit/a7ffefe20e7cbf3dd051df5b0a8fa41de0e11a13#diff-4084b7d645fedef72ebfe253b83e773fR613

[2016-12-15 23:09] #136 closed

[2016-12-16 00:07] aldenml commented on #137
I think that similar to `SessionStats`, there should be a map inside `SessionManager` of `sha1->TorrentStats`. These could be updated in the same inner alerts loop.

I'm not sure of having a free `TorrentStatsKeeper` to be used outside, the only one we have that way is `PiecesTracker` and I would like to remove it.

[2016-12-16 01:13] aldenml commented on #131
`1.2.0.5` is out, give it a try, it should be fixed

[2016-12-16 01:13] aldenml commented on #127
`1.2.0.5` is out, give it a try and let me know if the problem persists

[2016-12-16 04:18] gubatron commented on #137
Ok, if you want it to be a part of SessionManager my API would then look something like this then:

[code]

Then Inside I'd still use a similar component as I don't want to have more code than it is necessary inside `SessionManager`, which should then be (like you say) similar to `SessionStats`.

👍

[2016-12-16 04:18] gubatron commented on #137
change of plans @haperlot

[2016-12-16 04:48] gubatron opened #138 "[tests] TorrentBuilder::generate() might not be calling listener"
`CreateTorrentTest.java` is failing on line 160.

[code]

That `b1` is an `AtomicBoolean` that's supposed to be set to true when the `TorrentBuilder.Listener::accept(String filename)` method is called.

I took a look around `TorrentBuilder::generate()`:

[code]

So I see that the listener that we set when we did `b.path(dir).listener(...` is not getting invoked, since the `b1.set(true)` never happ

[2016-12-16 04:51] gubatron commented on #138
The folder is created fine, the files are created fine, and the .torrent seems to be creating itself fine:

[code]

[2016-12-16 04:54] gubatron commented on #138
maybe this change has something to do with this:
https://github.com/frostwire/frostwire-jlibtorrent/commit/671a1e94fe757198b9cbaedbe96412012328fc8d#diff-e328102d0d0a557bd287f8c67b4e5547R1359

[2016-12-16 06:48] mianharisali commented on #136
@aldenml thats awesome (Y)

[2016-12-16 14:51] proninyaroslav commented on #117
@aldenml
This happens including when I get magnet link after calling `SessionManager.stop()` (see https://github.com/proninyaroslav/libretorrent/blob/master/app/src/main/java/org/proninyaroslav/libretorrent/core/TorrentFetcher.java#L130)

[2016-12-16 15:03] aldenml commented on #117
thanks for the link.

This definitely is not the right way to handle `SessionManager`, every time you run `start()/stop()` it recreates a new native `session`, and since this is a shared object library, I would be very cautious. Better to have one instance of `SessionManager` for the entire program execution. You should see the benefits of doing that and maybe the problem goes away.

[2016-12-16 15:25] proninyaroslav commented on #117
@aldenml
Yes, I know it's not a very good code, and it will be rewritten, but the problem arises not only in it.

[2016-12-16 15:29] aldenml commented on #117
well, just to be more clear, I'm not referring to the code quality, just talking about the use of the API, and that's probably more due to the lack of documentation in `jlibtorrent` side.

[2016-12-16 15:53] proninyaroslav commented on #117
I get this problem not constantly but in all points of code, where session is used.
This occurs in the following situations:

1. Fetching magnet
2. Shutdown app
3. If app worked in background, e.g screen unlock after sleep etc. (It's not always due to this)

[2016-12-16 18:50] aldenml commented on #137
seems like a good starting point, let's see how plays out not having a type for speed.

[2016-12-16 19:05] aldenml commented on #117
Ok, I checked all our logs in the google play console and I couldn't find any instance of this crash. Maybe making the `SessionManager` a single instance solve the issue.

[2016-12-17 10:18] proninyaroslav commented on #117
@aldenml
I will try to move `SessionManager` in singleton and test it.

[2016-12-17 14:37] haperlot commented on #137
Done, please read https://github.com/frostwire/frostwire-jlibtorrent/pull/139 . If anything just let me know.

[2016-12-19 17:42] mianharisali commented on #127
i have tested it , it is working fine. i will reopen if i encounter that problem again.
Thanks 👍

[2016-12-19 17:42] #127 closed

[2016-12-19 22:10] aldenml commented on #127
@mianharisali How is that you are getting the bitfield without using `torrent_handle::query_pieces`?